[2021-12-15 14:29] bdougie opened #4 "Feature: UI Component Implementation"
### Type of feature

Tailwind powered React components

### Current behavior

This project is powered by api.opensauced.pizza, a list of popular open source projects. I am looking to add React components (powered by Tailwind) to display the repos.

### Desired solution

This is the mock-up https://hot-open-sauced.vercel.app/ link to code coming soon. [Link to the repo with a working solution in Ne

[2021-12-15 14:52] bdougie opened #5 "Enable Tailwind in this project"
Tailwind needs to be accessible to this project.

https://daily-dev-tips.com/posts/how-to-use-tailwind-css-in-astro/

[code]

there are some follow up config files needed.

[code]

[code]

[code]

[2021-12-15 14:54] bdougie opened #6 "Create Repo card components"
## Today the site content looks like this when displaying GitHub repos.

![Screen Shot 2021-12-15 at 6 58 30 AM](https://user-images.githubusercontent.com/5713670/146209960-794fdc52-dbf1-4fe2-8e6c-5a90e13fbf79.png)

## What we would like it to look like

![Screen Shot 2021-12-15 at 6 55 01 AM](https://user-images.githubusercontent.com/5713670/146210051-4b5d1997-6c01-4bb8-995c-8868ecf08748.png)

St

[2021-12-15 14:58] bdougie opened #7 "Create PostList components"
## Today the site content looks like this when displaying GitHub repos.

![Screen Shot 2021-12-15 at 6 58 30 AM](https://user-images.githubusercontent.com/5713670/146209960-794fdc52-dbf1-4fe2-8e6c-5a90e13fbf79.png)

## What we would like it to look like

![Screen Shot 2021-12-15 at 7 00 19 AM](https://user-images.githubusercontent.com/5713670/146210292-c53b15d2-6341-4252-a6e3-32946acf4caf.png)

St

[2021-12-15 15:01] bdougie opened #8 "PostList and PostGrid toggle and nav bar"
Looking to implement a toggle for the PostList and PostGrid display.
![Screen Shot 2021-12-15 at 7 00 19 AM](https://user-images.githubusercontent.com/5713670/146210721-b360385f-1cb6-42fe-8a6a-58132555a105.png)

This issue is dependent on #6 and #7 being complement before being started

Link to it working in the Next app:
1. [Code](https://github.com/bdougie/hot-open-sauced/blob/main/components/la

[2021-12-15 15:04] bdougie opened #9 "Add navigation/filter"
Navigation and filter submenu needs to be implemented on the page.
<img width="1277" alt="Screen Shot 2021-12-15 at 7 05 26 AM" src="https://user-images.githubusercontent.com/5713670/146211175-26116ed6-da81-4810-8e72-8eeffd90b875.png">

All CSS and elements can be found in the example Next App.

1. [Code](https://github.com/bdougie/hot-open-sauced/tree/main/components/layout)
2. [Live site](https:

[2021-12-15 15:06] bdougie opened #10 "Implement the weekly goal modal"
Need to implement the encouragement modal. This is will be for display only, the logic for this will be implement in the future.

<img width="1272" alt="Screen Shot 2021-12-15 at 7 07 02 AM" src="https://user-images.githubusercontent.com/5713670/146211572-6857a261-021d-478a-aad1-502b12ce2ec5.png">

Link to elements:
1. [Code](https://github.com/bdougie/hot-open-sauced/blob/main/components/layout/M

[2021-12-15 22:58] bdougie opened #11 "Feature: Need the open sauced dev setup"
### Type of feature

CI

### Current behavior

There are no GitHub Actions or release automation.

### Desired solution

Add what other projects have.

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-16 17:25] bdougie opened #12 "Feature: Implement voting logic for repos"
### Type of feature

Feature

### Current behavior

Today the api is listing repos based on relevancy in open sauced.

- api.opensauced.pizza
- The above is powered by a private DB hosted on [supabase](https://supabase.com/)

### Desired solution

We need a global state that can store votes from users

- Add local state to fetch vote data
- Implement vote column in supabase db
- Alternatively we c

[2021-12-16 18:09] NaaLaryea commented on #4
Hello @bdougie looked at this and i am interested

[2021-12-16 18:13] NaaLaryea commented on #5
Hello @bdougie I would like to pick this up and work on it.

[2021-12-16 18:13] bdougie commented on #4
Thanks for responding @NaaLaryea  Please review the [CONTIBUTING.md](https://github.com/open-sauced/open-sauced/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2021-12-16 18:38] kelvinsekx commented on #5
Ok...I think I should drop it on my side then.
I was already working on it...Is that fine @NaaLaryea ?

[2021-12-16 18:40] kelvinsekx commented on #9
@bdougie I would pick this.

[2021-12-16 18:41] NaaLaryea commented on #5
Yes that is fine. Thank you for understanding, and apologies on the conflict

[2021-12-16 18:49] kelvinsekx commented on #5
No qualms...
Although, I have implemented it on my local side anyways.

[2021-12-16 19:03] bdougie commented on #9
Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2021-12-16 19:51] kelvinsekx commented on #8
.take

[2021-12-16 20:12] bdougie commented on #5
You should be able to rebase on your end @kelvinsekx. The solution will look the same at the end of the day.

[2021-12-16 22:55] NaaLaryea commented on #5
.take

[2021-12-17 05:40] kelvinsekx commented on #5
Generally, I particularly find this link, https://benborgers.com/posts/astro-tailwind,  cleaner with less typos.
Also when you encounter multiple problems for example
- TypeError: Expected a `string`, got `undefined`...strpAnsi
- or path-regexp not found, etc

You first correct the tailwindConfig file: move the moduleResolution into compilerOptions object

[code]

Then if your tailwind don't work

[2021-12-17 05:42] kelvinsekx commented on #8
.take

[2021-12-17 06:02] kelvinsekx commented on #6
.take

[2021-12-17 20:08] JScrips commented on #5
this PR closes this issue: https://github.com/open-sauced/hot-sauce/pull/13

[2021-12-17 20:09] JScrips commented on #6
this PR closes this issue: https://github.com/open-sauced/hot-sauce/pull/13

[2021-12-17 20:09] bdougie opened #14 "Feature: Implement prettier linting in this project"
### Type of feature

CI

### Current behavior

Currently, it is free for all and with our first contribution, I am seeing inconsistencies. I would love to mimic the code style in [open-sauced](https://github.com/open-sauced/open-sauced)

This came up in this PR https://github.com/open-sauced/hot-sauce/pulls

### Desired solution

- https://github.com/open-sauced/open-sauced/blob/main/.eslintrc.js

[2021-12-17 20:09] JScrips commented on #7
this PR closes this issue: https://github.com/open-sauced/hot-sauce/pull/13

[2021-12-17 20:10] JScrips commented on #8
this PR closes this issue: https://github.com/open-sauced/hot-sauce/pull/13

[2021-12-17 20:10] JScrips commented on #9
this PR closes this issue: https://github.com/open-sauced/hot-sauce/pull/13

[2021-12-17 20:10] JScrips commented on #10
this PR closes this issue: https://github.com/open-sauced/hot-sauce/pull/13

[2021-12-17 20:23] NaaLaryea commented on #5
Hello, so i was working on this, as stated earlier in the comments. @bdougie do i pick something else up then?

[2021-12-17 20:25] bdougie commented on #5
I messaged @JScrips on this. Best practiced is announcing intentions on the issue first, but considering this is needed to do any other issue, I think we will need to go with his PR.

[2021-12-17 20:29] kelvinsekx commented on #5
Okay that's fine. I was waiting on @NaaLaryea to add the tailwind config too before putting up my stuffs. But I guess things are on a different level now.

[2021-12-17 20:42] #5 closed

[2021-12-17 20:42] #6 closed

[2021-12-17 20:42] #7 closed

[2021-12-17 20:42] #10 closed

[2021-12-17 20:45] bdougie opened #15 "Feature:Add font-awesome icons"
### Type of feature

Feature

### Current behavior

Some components were added without font-awesome
![Screen Shot 2021-12-17 at 3 43 43 PM](https://user-images.githubusercontent.com/5713670/146605554-d3aa1a2b-ca09-441d-b5f8-c39e79baf1dd.png)
![Screen Shot 2021-12-17 at 3 43 39 PM](https://user-images.githubusercontent.com/5713670/146605555-e0e18181-f7da-479c-9ee1-8f2a893ecac1.png)
![Screen Shot 20

[2021-12-17 20:46] kelvinsekx commented on #15
.take

[2021-12-17 20:47] kelvinsekx commented on #14
.take

[2021-12-17 21:46] bdougie commented on #14
Hey @kelvinsekx, I unassigned you since you are currently assigned to half the open issues already. If you could assist with #15. That is a higher priority than this.

[2021-12-17 21:53] bdougie opened #17 "Feature: Replace placeholder image with repo social card"
### Type of feature

Feature

### Current behavior

Prior to #13, this app was pulling in the social cards from GitHub.

https://github.com/open-sauced/hot-sauce/blob/main/src/components/SocialImage.jsx

This is the previous fetching of the social card image.

https://github.com/open-sauced/hot-sauce/blob/c3e28250cc27ee7b43b5134b1e883bc8c2864338/src/pages/index.astro#L14-L21

Previous PR where thi

[2021-12-17 21:55] bdougie commented on #17
@NaaLaryea do you want to look into this?

[2021-12-17 23:04] 0-vortex commented on #11
.take

[2021-12-18 04:19] kelvinsekx commented on #14
Power is down on my side, but I can do that through my phone. I just added the font-awesome.

[2021-12-18 06:35] NaaLaryea commented on #17
yes i do

[2021-12-18 06:35] NaaLaryea commented on #17
.take

[2021-12-18 17:42] #8 closed

[2021-12-18 17:42] #15 closed

[2021-12-18 17:51] #9 closed

[2021-12-18 21:42] bdougie opened #20 "Need Open Sauced GitHub Login"
### Type of feature

Feature

### Current behavior

The user profile is currently a placeholder. Need a GitHub login to confirm the following

- stars
- Open sauced goals account
- public comments

![image](https://user-images.githubusercontent.com/5713670/146656265-c4e31535-0f85-4cb8-a1f1-512108dfbff5.jpeg)

### Desired solution

We can mirror the logging from github.com/bdougie/live or github.co

[2021-12-18 21:53] bdougie opened #21 "Feature: Replace placeholder avatars with contributor avatars"
### Type of feature

Feature

### Current behavior

Within each repo card, the list avatars are placeholders. This was needed to figure out the design, but they will need to be replaced with the avatars of the contributors.

![image](https://user-images.githubusercontent.com/5713670/146656466-e899fe50-6a29-4052-ac23-a9296aae34ab.jpeg)

### Desired solution

In the opensauced.pizza app, we grab the

[2021-12-18 22:03] bdougie opened #22 "Bug: Make the title link to the github repo"
### Type of feature

Feature

### Current behavior

Currently the title of their repo is not clickable.
![image](https://user-images.githubusercontent.com/5713670/146656663-ce0b8eb9-e949-4ddc-8cca-6db182127bb0.jpeg)

### Desired solution

Make the title a hyper link and link to the GitHub repository.

### Additional context

This should be a dynamic solution that is reproducible.

### Code of Cond

[2021-12-18 22:22] #11 closed

[2021-12-18 22:22] #14 closed

[2021-12-18 22:59] bdougie commented on #20
Doing some light research and think Netlify with is the way to go here.

[2021-12-18 23:52] hokagedemehin commented on #22
I will begin work on this right away. Will give feedback from time to time 😁

[2021-12-19 00:32] jasonericdavis commented on #22
Thanks for taking this on @hokagedemehin! Please review the [CONTRIBUTING.md](https://github.com/open-sauced/.github/blob/09ed85f8482c392af87d76b356bf98f2aee1eeaa/CONTRIBUTING.md#issues) for info on how to assign yourself to the issue

[2021-12-19 01:38] 0-vortex commented on #20
<img width="747" alt="Screenshot 2021-12-19 at 03 30 23" src="https://user-images.githubusercontent.com/237133/146660401-01ae2974-a574-46dc-b544-4d48b16f97ba.png">

Have used it in some demos to emulate GitHub login in some headless CMS - in those setups nothing was managed by Netlify, all the rights being handled by GitHub repository access rights, IE if you had push access to the repo you could

[2021-12-19 02:08] 0-vortex commented on #12
IMHO anything calling a specific microservice or API endpoint could use some local mocking or container composing. How do you feel about doing some compatibility upgrades in https://github.com/open-sauced/hot-sauce-api ?

[2021-12-19 08:42] hokagedemehin commented on #22
.take

[2021-12-19 10:24] kelvinsekx commented on #21
Is there no link to fetch the Avatars?

[2021-12-19 13:30] bdougie commented on #21
Yes and not. You can fetch the contributors of repository and you can fetch avatars using github usernames separately.

Link to how it is done in the main repo: https://github.com/open-sauced/open-sauced/blob/bf2501d0320c282695b563e02b7394f871557d0d/src/components/Repository.js#L119

1. I think we will need to recreate this [persisted query](https://github.com/open-sauced/open-sauced/blob/6ac20a8b

[2021-12-19 13:32] bdougie opened #23 "Include the Open Sauced Persisted query data fetching and API from OneGraph"
1. I think we will need to recreate this [persisted query](https://github.com/open-sauced/open-sauced/blob/6ac20a8b6d20b0edeb2fe0b01137ce5f7996117d/src/lib/persistedGraphQL.js#L48) file in this repository.
2. We will introduce [data fetching from github](https://github.com/open-sauced/open-sauced/blob/bf2501d0320c282695b563e02b7394f871557d0d/src/components/Repository.js#L36-L56) in this project
3.

[2021-12-19 21:18] nulfrost commented on #21
I'd love to take this one on once it's unblocked! So just to make sure I'm clear on what the task at hand is, we want to replace the placeholder avatars with avatars coming from the github api? Also since we are rendering a list of repos from a static list of items in a json file, would we be replacing that with the data from the github API or something else?

[2021-12-19 23:56] #22 closed

[2021-12-20 10:21] bdougie commented on #21
The placeholder images should be actual avatars of the top 2 contributors of the project.

The static file is temporary for development. This was a shorcut to avoid pagination of the https://api.opensauced.pizza.

[2021-12-20 12:43] nulfrost commented on #21
Okay I see, gotcha! Will wait for that to be merged ☺️ thank you

[2021-12-21 21:49] bdougie opened #26 "Feature: Make Jest work with this project."
### Type of feature

Test

### Current behavior

There is now one test included in this project. It will not run using Vite. From my research, this is possible with the inclusion of Babel.

https://github.com/open-sauced/hot/pull/25

### Desired solution

Make `npm t` work

https://github.com/open-sauced/hot/blob/main/src/lib/humanizeNumber.test.js

### Additional context

https://vitest.dev/ is a

[2021-12-21 21:50] #23 closed

[2021-12-21 21:50] bdougie commented on #23
This logic will be added to https://github.com/open-sauced/hot-sauce-api instead

[2021-12-21 21:52] bdougie commented on #21
This is now unblocked, the data was added to the [static JSON](https://github.com/open-sauced/hot/blob/main/src/data/posts.json#L8) file. The avatars can now be dynamically rendered.

[2021-12-21 21:58] nulfrost commented on #21
.take

[2021-12-21 23:34] 0-vortex commented on #26
[Jest can do ESM](https://jestjs.io/docs/ecmascript-modules) - how do you feel about using jest like that with astro?

[2021-12-21 23:36] 0-vortex commented on #26
Astro is actually using some Babel under the hood, might just look at it like that first!

[2021-12-22 00:52] 0-vortex commented on #26
.take

[2021-12-22 14:01] bdougie opened #29 "Feature: Avatars should be clickable links into profiles"
### Type of feature

Feature

### Current behavior

These avatars currently are not clickable and provide no context.

<img width="269" alt="Screen Shot 2021-12-22 at 9 00 03 AM" src="https://user-images.githubusercontent.com/5713670/147104403-86e80b57-dfd5-4379-b980-e589efbff064.png">

### Desired solution

Similar to the title link, these be click github.com links to the user github profile.

![

[2021-12-22 14:09] bdougie opened #30 "Feature: Tooltip for Avatars"
### Type of feature

Feature

### Current behavior

Each card has a list of contributors with no context of who they are. I would love to add a tooltip on wh

![Group 2](https://user-images.githubusercontent.com/5713670/147105019-102711a7-335e-4985-9980-d730540a089f.png)

similar to https://github.com/open-sauced/hot/issues/21

### Desired solution

This may be accomplished through a [react toolti

[2021-12-22 14:14] frankiefab100 commented on #29
Let me work on it

[2021-12-22 14:20] #21 closed

[2021-12-22 14:50] jasonericdavis commented on #29
Thanks for taking this on @frankiefab100  Please review the [CONTRIBUTING.md](https://github.com/open-sauced/.github/blob/09ed85f8482c392af87d76b356bf98f2aee1eeaa/CONTRIBUTING.md#issues) for info on how to assign yourself to the issue

[2021-12-22 15:03] kelvinsekx commented on #30
.take

[2021-12-22 15:03] kelvinsekx commented on #30
.take

[2021-12-22 16:59] nulfrost commented on #20
I can take a look at this, there might need to be some things set up on the netlify end but if that's good to go I'll start working on this as soon as I can

[2021-12-22 16:59] nulfrost commented on #20
.take

[2021-12-22 17:10] #26 closed

[2021-12-22 17:11] bdougie opened #31 "Feature: Need to add CI as part of the development.yml"
### Type of feature

CI

### Current behavior

Jest test now work thanks to #27, but they are not run during the CI

### Desired solution

Add the CI from open sauced here.

### Additional context

https://github.com/open-sauced/open-sauced/blob/main/.github/workflows/development.yml#L13-L32

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-22 17:41] 0-vortex commented on #31
.take

[2021-12-22 19:50] #31 closed

[2021-12-23 13:51] bdougie commented on #20
I setup Netlify Ideentify:

endpoint: https://hot.opensauced.pizza/.netlify/identity

[2021-12-23 13:58] bdougie commented on #4
All have been completed.

[2021-12-23 13:58] #4 closed

[2021-12-23 14:12] frankiefab100 commented on #29
@jasonericdavis please where can I locate this issue?

[2021-12-23 16:14] jasonericdavis commented on #29
I am unsure what you are asking

[2021-12-23 18:41] bdougie opened #35 "Feature: Need a social card for this site."
### Type of feature

Feature

### Current behavior

When sharing this site on social, there is no social card

### Desired solution

Set up a social card with the following image.

![social=image](https://repository-images.githubusercontent.com/71359796/179eca00-061e-11eb-9b57-856a179db1a1)

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of

[2021-12-23 20:38] bdougie opened #36 "Feature: Add a favicon"
### Type of feature

Feature

### Current behavior

currently no favicon present.

<img width="183" alt="Screen Shot 2021-12-23 at 3 37 13 PM" src="https://user-images.githubusercontent.com/5713670/147289593-51643a94-9cb6-436a-9ecd-70a1156c6728.png">

### Desired solution

<img width="150" alt="Screen Shot 2021-12-23 at 3 36 57 PM" src="https://user-images.githubusercontent.com/5713670/147289572-f

[2021-12-23 21:46] kelvinsekx commented on #36
.take

[2021-12-23 21:47] kelvinsekx commented on #35
.take

[2021-12-24 10:48] frankiefab100 commented on #29
I mean I can navigate to the avatar directory

[2021-12-24 15:16] bdougie commented on #35
Note that this can be done in the HTML and does not need any dynamic rendering. https://docs.astro.build/core-concepts/layouts/index.html#composing-layouts

[2021-12-24 16:11] bdougie opened #38 "Feature: Switch from static json to live data"
### Type of feature

Feature

### Current behavior

The API is currently a static file. This was meant to be temporary while the UI was being integrated.

### Desired solution

Fetch from https://api.opensauced.pizza instead of the data/posts.json.

Note:

1. Caching may be needed
2. Pagination will need to be considered.

### Additional context

@bdougie will be working on this in multiple steps.

[2021-12-24 16:42] bdougie commented on #20
Some more context. Login and Logout should be linked in the nav. This can

fa-sign-in
![login](https://user-images.githubusercontent.com/5713670/147365163-ff854ffe-6e37-4598-b7e8-54532b0fc20b.png)

fa-sign-out
![logout](https://user-images.githubusercontent.com/5713670/147365151-3e39fb2c-86f1-41e0-b84c-dd50d4316df3.png)

[2021-12-24 20:08] bdougie commented on #29
There is not a directory, the API pulls in the login (i.e. bdougie). You can leverage the login to get the [avatar url](https://stackoverflow.com/questions/22932422/get-github-avatar-from-email-or-name)

[2021-12-24 20:09] jasonericdavis commented on #29
@frankiefab100 There isn't explicitly an avatar directory. This issue is to add functionality to the avatars on the cards in the list.  The avatars can be found in the following files:

- src/components/PostGrid.jsx
- src/components/PostList.jsx

Issue #28 also gives some context of where and how the avatars are being displayed for each card.

It is important that you read the [CONTRIBUTING.md](ht

[2021-12-25 18:53] nulfrost commented on #20
![Screen Shot 2021-12-25 at 1 52 01 PM](https://user-images.githubusercontent.com/16832258/147391668-8fb707ba-5478-4564-b871-5b467ea77759.png)

Making some progress 👍🏿 is there a way to only show the github login button on the widget? doing some google searching but haven't found anything yet

[2021-12-26 13:36] bdougie commented on #12
Hey, @0-vortex interested in hearing more about this microservice. I think I will try to figure out the voting logic this week. I am thinking about creating a table in the supabase DB with votes captured. I am also thinking this will be blocked slightly by #20, since I will need to store the votes based on the logged-in user.

Also, side note: I am going to look into making the data public via the

[2021-12-26 14:04] bdougie opened #41 "Feature: Set up filter logic"
### Type of feature

Feature

### Current behavior

The filters on the page exist as empty links. These are meant filters based on their relevantly named label.

<img width="532" alt="Screen Shot 2021-12-26 at 8 48 25 AM" src="https://user-images.githubusercontent.com/5713670/147410367-798abda6-bc96-4378-8a9f-0cabc959e9e6.png">

### Desired solution
Some sort of Filter State logic should get added

[2021-12-26 14:22] bdougie commented on #38
After some research, I think this can be completed as an infinite scroll and incremental data loads.

https://medium.com/suyeonme/react-how-to-implement-an-infinite-scroll-749003e9896a

[2021-12-26 14:24] bdougie commented on #17
Checking in @NaaLaryea to see if you have any questions don't this.

[2021-12-26 14:34] bdougie commented on #20
I don't think that is possible without creating a new (fork) widget. Using GoTru directly is what [supabase](https://github.com/netlify/gotrue-js) is doing as well.

But for the sake of keeping the scope small, leaving the email in, for now, is fine. I may [explore supabase](https://supabase.com/docs/guides/auth) for this in the future to simplify things.

[2021-12-26 14:35] bdougie commented on #30
@kelvinsekx let me know if you have any questions on this.

[2021-12-26 14:50] bdougie commented on #29
@frankiefab100 do you want to take on this issue?

[2021-12-26 17:34] bdougie commented on #35
Heads @kelvinsekx I opened a PR so I can start promoting the site on social.

[2021-12-26 17:46] #35 closed

[2021-12-26 18:11] frankiefab100 commented on #29
Not yet

[2021-12-26 20:10] blackgirlbytes commented on #41
.take

[2021-12-26 20:10] blackgirlbytes commented on #41
No clue how to do this, but I've been watching the open issues for this..and hoping I can dive in :)

[2021-12-26 22:09] bdougie commented on #41
Cool, let me know if you have any questions. I think the filter state can live in the SecondaryNav component and the reset can be implemented just like a react component.

A bonus would be including [routing](https://docs.astro.build/es/core-concepts/routing/) to the filtering.

[2021-12-26 22:15] bdougie commented on #36
While poking around for the social card, I noticed that this file can be updated by placing the above URL in this file.

https://github.com/open-sauced/hot/blob/main/public/favicon.ico

[2021-12-26 22:29] bdougie commented on #12
Going to be starting work on this. The current plan

- [ ] Create table stores votes that stores votes from users: githubUserIds, and vote timestamps
- [ ] Write votes to the recommendations table
- [ ] Mock GitHub login until #20
- [ ] Connect supabase client to write to DB directly
- [ ] Implement local state storage.
- [ ] Implement API automation for updates.

[2021-12-27 05:21] kelvinsekx commented on #30
Sure I will.
I'm particularly new to tailwind...so I will reach out if there be need.

I would work on all issues assigned to me today.

[2021-12-27 05:24] kelvinsekx commented on #29
If @frankiefab100 isn't available, may be I should take this?

[2021-12-27 05:25] kelvinsekx commented on #38
I will read through the article likewise...

[2021-12-27 08:03] hokagedemehin commented on #17
.take

[2021-12-27 08:04] hokagedemehin commented on #17
I have found a possible solution to this issue. I will implement and share it with you later today

[2021-12-27 08:08] kelvinsekx commented on #17
I will love to see your solution.
 However, @NaaLaryea is assigned to this already. And I would have loved to hear her feedback on this. Just to avoid conflicts

[2021-12-27 10:10] hokagedemehin commented on #29
.take

[2021-12-27 12:25] NaaLaryea commented on #17
Hi @kelvinsekx so sorry I have MIA, been battling covid so I have been slow, trying to recover. Do merge his if it fixes the issue. I will pick up work soon.

[2021-12-27 13:35] 0-vortex commented on #17
Hope you get well easily!

[2021-12-27 14:35] kelvinsekx commented on #17
Get well soon dear ❤️

[2021-12-27 15:27] kelvinsekx commented on #30
I think you disabled the eslint in the last merge.
Really struggling with eslint troubles.

[2021-12-27 15:51] 0-vortex commented on #30
Disable any editor integrations and run it using `npm run lint` and `npm run format` please

[2021-12-27 15:55] kelvinsekx commented on #30
Hoo okay. I will do that and send back the feedback

[2021-12-28 10:59] hokagedemehin commented on #36
.take

[2021-12-28 11:23] kelvinsekx commented on #36
I'm already on this and finished it on my part.
I only would write some test today or tomorrow and make a PR.

If you don't mind, unassign your self?

[2021-12-28 19:55] #29 closed

[2021-12-28 22:57] hokagedemehin commented on #17
Get well soon 🤗🤗

[2021-12-31 03:49] #17 closed

[2021-12-31 07:24] kelvinsekx opened #53 "Bug: PostList component overlapping in mobile viewport"
### Describe the bug

When using the toggle to change Post from Grid to List, the list form overlaps the mobile viewport. Causing poor UX

Present behavior
![Screenshot_20211231-081140~2](https://user-images.githubusercontent.com/51183064/147809277-dbdc21cd-eedb-4d9a-b4b5-461ee7a46cc3.jpg)

Expected behavior
![Screenshot_20211231-081112](https://user-images.githubusercontent.com/51183064/147809287

[2021-12-31 14:15] hokagedemehin commented on #41
This is a tricky one but I think I can give it a shot if that is ok... 😎

[2021-12-31 15:17] hokagedemehin commented on #53
.take

[2021-12-31 20:34] hokagedemehin commented on #12
You can also consider using React Context API for global state management. That way you can have a save a vote and have it available across the app for other components to use.

Redux can also do the same but I think the set up might be a lot

[2021-12-31 22:55] bdougie opened #54 "Feature: Replace the discussion svg with the github issue one."
### Type of feature

Fix

### Current behavior

This icon is for comments, but should be for issues
![Screen Shot 2021-12-31 at 2 51 40 PM](https://user-images.githubusercontent.com/5713670/147840636-a2f51c34-ac08-4a8b-8065-b8adc3955f54.png)

### Desired solution

Should be the circle with a dot.
![Screen Shot 2021-12-31 at 2 52 57 PM](https://user-images.githubusercontent.com/5713670/147840643-3a

[2022-01-01 13:14] hokagedemehin commented on #41
.take

[2022-01-02 06:10] whoiskekeanyway commented on #54
I am trying to fix the issue, but I have never worked with docker. Could you tell me which file this particular line of code is inside?

[2022-01-02 06:13] kelvinsekx commented on #54
You don't necessarily need to be vaxed with docker.
It isn't a barrier.

[2022-01-02 07:17] whoiskekeanyway commented on #54
Thank you. I figured it out. Thanks to stackblitz

[2022-01-02 19:47] #54 closed

[2022-01-02 20:42] #53 closed

[2022-01-03 14:58] kelvinsekx opened #58 "Bug: Unusual size of SVG issues icon"
### Describe the bug

1. Go to https://hot.opensauced.pizza/
2. Switch post display toggle to list
3. See the unusual size
![Screenshot_20220103-154144_1~2](https://user-images.githubusercontent.com/51183064/147945438-8e95d91c-1197-4de9-8105-57f203a50553.jpg)

### Steps to reproduce

1. Go to https://hot.opensauced.pizza/
2. Switch and see error

### Affected services

opensauced.pizza

### Platfo

[2022-01-03 16:05] blackgirlbytes commented on #41
lol, uh, thanks for taking this on @hokagedemehin . I'll take a different issue then.

[2022-01-03 16:05] blackgirlbytes commented on #58
.take

[2022-01-03 16:07] mtfoley commented on #58
Looks OK to me on Chrome for Windows (they're all larger).
![image](https://user-images.githubusercontent.com/3792749/147952620-7a2bab59-f454-43a9-b987-7629efd73f4c.png)

Don't know if there's a service worker at play on this site, but occasionally we'd see a need for clearing caches on opensauced.pizza when verifying visual issues.

They looked this way on #56 deploy preview as well.

[2022-01-03 16:20] blackgirlbytes commented on #58
see here

<img width="1117" alt="Screen Shot 2022-01-03 at 11 19 16 AM" src="https://user-images.githubusercontent.com/22990146/147954156-bb916cb2-03dc-4593-95f3-18855498139f.png">
<img width="1147" alt="Screen Shot 2022-01-03 at 11 19 27 AM" src="https://user-images.githubusercontent.com/22990146/147954164-91a0a7ac-ca45-4fd6-aec9-847a4ea1a522.png">

[2022-01-03 16:27] hokagedemehin commented on #58
@blackgirlbytes you have good eyes to have spotted that out

You are doing well ☺️

[2022-01-04 10:01] #58 closed

[2022-01-04 10:05] 0-vortex opened #61 "Bug: variable container width in post list view mode"
### Describe the bug

The icons in the list view mode are spread out based on how long the repository description is, it should have full width and min/max height sensible defaults

<img width="1735" alt="Screenshot 2022-01-04 at 12 00 55" src="https://user-images.githubusercontent.com/237133/148042753-aea81c93-bc4d-4358-959d-cc51b2c53a04.png">

### Steps to reproduce

1. go to https://hot.opensau

[2022-01-05 01:55] nulfrost commented on #20
Hey! So picking up on this again and getting this error when trying to log in with github
![Screen Shot 2022-01-04 at 8 41 50 PM](https://user-images.githubusercontent.com/16832258/148147267-dda3f869-8aec-44b3-b234-31703763bfa6.png)

the link it is referring to leads here https://docs.onegraph.com/docs/authentication.html#asking-your-user-to-sign-in

and another relevant error
![Screen Shot 2022-0

[2022-01-05 10:45] hokagedemehin opened #64 "Testing the filter Navlinks"
### Describe the bug

1. On your laptop, open this project with your code editor, paste `gh pr checkout 57` in the terminal and run it, to have a copy of the changes reflecting on this pull request #57
2. run `npm ci` then `npm start` to spin up a server and go to `localhost:3000` to start testing. If you click on any of the secondary nav links it should highlight that link alone with a yellow bac

[2022-01-05 11:13] hokagedemehin commented on #61
Hi @0-vortex

I have some questions on this issue, would appreciate if you can clarify them

- should the width of the card be reduced based on the content of the card or it should still remain the way it is as the full width of the page
- should we adjust only the action buttons so that they are equally spaced out no matter the content of the description in the card, so as for t to look consisten

[2022-01-05 13:34] #41 closed

[2022-01-05 14:00] 0-vortex commented on #61
In my opinion the card should stay the same and the div with `text-lightGrey text-xs sm:text-base` should go 100% width to match the card.

I believe so, however, I would not be able to tell what the best layout here would be, aligned left with min-width or covering the full length of the container, would experiment with that locally or poke @bdougie for creative direction 🍕

[2022-01-05 14:07] hokagedemehin commented on #61
Alright then, will experiment on my side and make PR when I have something to present

[2022-01-05 15:04] mtfoley commented on #61
Might be good to comment with some screenshots of your experiments 👀

[2022-01-05 15:05] hokagedemehin commented on #61
A better suggestion

[2022-01-05 16:42] bdougie commented on #61
My gut says.

[code]

[2022-01-05 17:15] hokagedemehin commented on #61
This will actually work, but for me instead of using `mr-4` I would use `space-x-2`

This will actually still space each of the item without adding an extra space at the end of the last item

[2022-01-05 22:58] bdougie commented on #20
Sorry about that I gave you the oauth for opensauced.pizza which redirects to the onegraph AuthGuardian service. I just created a new GitHub service specifically for this project. If you try again it should redirect to NEtlify and authorize from there.

https://docs.netlify.com/visitor-access/oauth-provider-tokens/

![Screen Shot 2022-01-05 at 2 57 54 PM](https://user-images.githubusercontent.com/

[2022-01-05 23:29] bdougie opened #65 "Bug: Data in the PostList view is dupluicated"
### Type of feature

Fix

### Current behavior

![Screen Shot 2022-01-05 at 3 28 25 PM](https://user-images.githubusercontent.com/5713670/148304352-e8b59c74-a029-4b69-868d-250f91618484.png)

### Desired solution

Voting needs to be added back in.

### Additional context

Found this while on stream.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-05 23:43] #65 closed

[2022-01-06 03:40] bdougie opened #68 "Feature: Supabase Studio"
### Type of feature

Feature

### Current behavior

At the moment the only person that contributes to any database changes is @bdougie. While getting the project off the ground is fine, but this will be a limitation for future contributors as the site grows to be more complicated.

### Desired solution

Connect the database to a local studio instance that folks run locally. This will require some

[2022-01-06 03:44] bdougie commented on #38
Something else that came up while working on #67 is there will need to be a global state, i.e Redux store to manage the following.

- infinite scroll
- filtering votes
- and the combination filtering scroll/pagination

[2022-01-06 05:47] kelvinsekx commented on #64
.take

[2022-01-06 10:50] hokagedemehin commented on #61
Hello @0-vortex

What do you think??

![Screenshot 2022-01-06 114915](https://user-images.githubusercontent.com/16826624/148371532-99d75c00-7df3-4da3-8281-3bad175885dd.png)

[2022-01-06 15:25] 0-vortex commented on #38
How do you feel about starting off simple with [react context](https://reactjs.org/docs/context.html)? I know there have been unresolved talks and experimentation around [context selectors](https://github.com/facebook/react/commit/a0bb10a86c1949f478aada58f790426b9e07435f) but ultimately we could couple `useContext` with `useReducer` and get rid of some complexity moving forward.

Some other intere

[2022-01-06 15:29] 0-vortex commented on #61
That's looking much better, one improvement I would add here is to make the 3 centainers have 1.5x min-width, like 1st box has 5 upvotes but 11ty has 441 issues and coding-interview has 41, giving them a min display for 4 letter box would make the 3rd column stars (10.9k vs 201.8k vs 337.7k) also be aligned.

Translating thousands into "k" units gives us a 5 character min-width we should use to ha

[2022-01-06 15:36] kelvinsekx commented on #61
Giving each of the containers a min-width will make it look cooler. And if possible increase the containers wrapper all together, I mean the width

[2022-01-06 19:12] hokagedemehin commented on #61
@0-vortex @kelvinsekx

👀

![Screenshot 2022-01-06 201148](https://user-images.githubusercontent.com/16826624/148438008-5aacb062-25fd-4988-b320-ea3c3a6dee9b.png)

[2022-01-06 19:44] hokagedemehin commented on #61
.take

[2022-01-07 10:44] #61 closed

[2022-01-07 14:36] #30 closed

[2022-01-07 14:36] #36 closed

[2022-01-07 18:28] #12 closed

[2022-01-07 18:35] bdougie opened #70 "Feature: Local developer env"
### Type of feature

Feature

### Current behavior

The PR #67 was merge and intentionally including public env vars.  https://github.com/open-sauced/hot/blob/main/src/lib/database.js#L4

The ideal approach will be adding that to the .env file since the DB does currently have security and everything accessible.

### Desired solution

I think we should include context on how folks and generate thei

[2022-01-07 18:41] 0-vortex commented on #70
IMHO vote for a single `.env` packed with development value and having them overloaded during the release workflow with GitHub secrets 🍕

[2022-01-07 22:38] bdougie commented on #70
Thinking on stream. We can you a private gist and then have contributors run `script/setup` or similar. https://gist.github.com/bdougie/f825111d344dd40ab79c7e8ef3b703d4

[2022-01-07 22:44] 0-vortex commented on #70
.take

[2022-01-07 23:16] #70 closed

[2022-01-08 00:25] nulfrost commented on #20
Hmm, still seem to be facing errors related to authentication. I've read and double-checked the documentation for the widget but I don't think I'm missing anything 🤔

Here are some of the errors I've encountered
![Screen Shot 2022-01-07 at 7 17 19 PM](https://user-images.githubusercontent.com/16832258/148623217-b73c6173-147b-4871-ba23-c15109e62dc6.png)

and this one is the same from the last post

[2022-01-08 03:50] bdougie commented on #20
note: Tried running your branch locally and getting a "esbuild-darwin-arm64" error. I need to remove it to get it to work.

I don't we will be able to use the netlfy identity widget. The requirement to have email is also weird for this use case of github login. I did some quick searching and ran into this thread https://github.com/netlify/gotrue/issues/114#issuecomment-362004553. Basically, we sho

[2022-01-08 04:02] bdougie commented on #64
To be clear, to resolve this issue we need UI tests. The open sauced repo has some https://github.com/open-sauced/open-sauced/tree/main/src/tests

[2022-01-08 16:21] nulfrost commented on #20
Working on an M1 macbook, for some reason without it I wasn't able to get astro to run. Still not sure why lol

Sweet! I'll take a look at this tonight, I've worked with supabase before so it's all very familiar

[2022-01-08 17:36] 0-vortex commented on #20
Make sure you have `node>=14` and `npm@8` and then do this:

[code]

If you did not clone with `gh` cli, replace `upstream/main` with `origin/main` to get the changes from your own fork.

That should fix all the issues with dependencies! 🍕

[2022-01-10 12:55] 0-vortex commented on #68
Can handle the docker and local development parts so will just `.take` this 🍕

[2022-01-10 19:23] 0-vortex opened #78 "Bug: eslint rules not applied on cli formatter"
### Describe the bug

ESlint in VSC/WS should have the same rules but running `npm run lint` does not register any files

### Steps to reproduce

1. Use Visual Studio or JetBrains IDE
2. In-flight eslint issues should pop up for `.jsx` files
3. run `npm run lint` or `npm run format`
4. `.eslintrc` rules are ignored

### Affected services

opensauced.pizza

### Platforms

Desktop

### Browsers

Oth

[2022-01-10 20:23] 0-vortex opened #80 "Feature: clean up tooling and remove astro (breaking)"
### Type of feature

Build

### Current behavior

We are unable to use [astro](https://astro.build) in several instances:
- code listing and formatting (due to missing eslint parser and language tools)
- cloud IDE providers (due to astro vs vite config mismatch)
- language completion and assistance in local IDEs (language tools need manual install and are not bundled with astro)
- production build

[2022-01-10 21:18] nulfrost commented on #80
+1, I can see the potential Astro has but as it stands right now it's more of a headache to work with

[2022-01-10 22:29] bdougie commented on #80
Thanks for writing this up. Astro was a good experiment and fun to work with, but it has indeed shown to be limited to due how new it is. Working on this project, it is clear that adoption will be much higher than even the flagship https://opensauced.pizza and we will need to consider if should rewrite to a simple React SPA or another paved path would help us keep up the velocity at which we shipp

[2022-01-11 00:01] nulfrost commented on #80
Yup that sounds good, I'm sure someone else might encounter these problems too so submitting these would be very beneficial

[2022-01-11 00:45] mtfoley commented on #80
Based on reading up on handling environment variables server side, I think they have an RFC process now, rather than using issues (could be wrong).

[2022-01-11 03:02] #38 closed

[2022-01-11 04:54] bdougie opened #81 "Infinite scroll and incremental data loads."
After some research, I think this can be completed as an infinite scroll and incremental data loads.

https://medium.com/suyeonme/react-how-to-implement-an-infinite-scroll-749003e9896a

_Originally posted by @bdougie in https://github.com/open-sauced/hot/issues/38#issuecomment-1001190510_

[2022-01-11 04:55] bdougie commented on #81
Here is a thread from Twitter on the idea in React https://twitter.com/palashv2/status/1450807515835371522

[2022-01-11 05:25] kelvinsekx commented on #81
I am particularly familiar with react window...from when it started with a different package name and all.

However, it doesn't work as infinite scroll...in my opinion the way we use redux and all.

With react window, we fetch all the data, map it to a list-like component and trust it to render to the Dom as much as the view port could cover.

If fetching all the data would cost next to fraction,

[2022-01-11 07:05] 0-vortex commented on #81
In real life, infinite scroll does not work. Padding a page, the further away we are from the start, the less performant it will be, and the more we want to fix that we would be moving further away from the "infinite scroll part". The only way infinite scroll works is if it just scrolls infinitely while removing un-padded data on forward or backward scrolling.

Example:
- list scroll min height 12

[2022-01-11 13:47] bdougie commented on #64
https://github.com/open-sauced/hot/pull/82/files#r782156878

[2022-01-11 13:51] bdougie commented on #64
Reopened, since tests were not added in #82. The approach can use the current static files as mock data and the filter can be tested as a unit test checking the order of the array.

https://github.com/open-sauced/hot/pull/82/files#r782156878

[2022-01-12 00:08] bdougie opened #83 "Feature: Make images clickable links"
### Type of feature

Feature

### Current behavior

When view the PostGrid components, images are shown but not clickable.

https://github.com/open-sauced/hot/blob/main/src/components/PostGrid.jsx#L41-L45

![Screen Shot 2022-01-11 at 4 06 41 PM](https://user-images.githubusercontent.com/5713670/149040911-9f67f70e-24a4-4c36-b930-320b590c1ace.png)

### Desired solution

Use the repolink to make them

[2022-01-12 04:17] #20 closed

[2022-01-12 05:03] bdougie opened #86 "Feature: GitHub Avatar for logged in user"
### Type of feature

Feature

### Current behavior

Login works but not signout. Also still has a placeholder image.

### Desired solution

Fetch the logged-in user's image.

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-12 05:15] #86 closed

[2022-01-12 11:18] hokagedemehin commented on #83
.take

[2022-01-13 17:01] nulfrost opened #87 "Bug: Accessibility issues, not able to navigate the page using the keyboard"
### Describe the bug

1. Start the dev server and open http://localhost:3000 in the browser
2. Try to tab through the page using the tab key

You'll notice that the focus only goes to the logo and nothing else which kind of limits users that rely on assistive technologies to navigate the internet

### Steps to reproduce

The steps to reproduce were outlined above but my recommendation would be to

[2022-01-13 17:49] kelvinsekx commented on #87
I will love to take this on.
I'm familiar with accessibility...
But I'm bad with testing 😂. I'm trying to level up my testing skills and do so much learning on testing.

That's why I haven't done my testing issue too 😢

[2022-01-13 18:03] nulfrost commented on #87
For this specific task, since it is quite a bit of work I'd say the focus should just be on correcting the issues like using the correct HTML tags and making the current page we have now more accessible. Maybe we could open separate issues for writing tests for the components we have.

On that note though some resources for testing would be [Kent C. Dodds blog post about common mistakes](https://k

[2022-01-13 18:26] kelvinsekx commented on #87
Thanks 😊
I will go through them.

I have also been reading Test Driven Development with React by Juntao...I could take on writing all the tests after I'm comfortable with it in a week or more.

[2022-01-14 01:26] #83 closed

[2022-01-15 22:09] jasonericdavis opened #91 "Feature: Add Repository Search"
### Type of feature

🍕 Feature

### Current behavior

Repositories are displayed based on the Links at the top of the page

<img width="528" alt="image" src="https://user-images.githubusercontent.com/14043845/149638723-fcd70d6c-189f-4003-8ae0-9f6e538907d1.png">

These links filter the repositories based on pre-defined filters. Currently, if a repository is outside of these filters it will never be

[2022-01-16 16:51] hokagedemehin commented on #91
.take

[2022-01-16 18:33] jasonericdavis commented on #91
Thank you @hokagedemehin for taking on this issue. I mistakenly didn't add the *needs-triage* label when I created the issue. My suggestion is to allow @bdougie some time to provide feedback before beginning to work on this issue.

[2022-01-16 18:39] hokagedemehin commented on #91
Ko problem. I will wait

[2022-01-16 18:49] bdougie commented on #91
I have some thoughts but not at a computer at the moment.

But in short the search doesn't need to be live search by default. If the term is captured and a search button input adds that to the fetched data. That should be sufficient for now. [producthunt.com](https://producthunt.com) has a search Omni bar on their primary navbar. As far as design UI, that is would be enough as well.

[2022-01-17 17:36] mtfoley opened #93 "Feature: document supabase"
### Type of feature

📝 Documentation

### Current behavior

This issue is related to #68 . I think it would be helpful to have documentation of the supabase details for this repo.

### Suggested solution

I’d suggest:
- [ ] docs for database schema
- [ ] Docs for queries used
- [ ] Sample data set

One nice-to-have could be https://github.com/zernonia/supabase-schema 👀

### Additional context

_No

[2022-01-17 18:46] 0-vortex commented on #93
looks like a task for me :D

[2022-01-17 23:41] hokagedemehin commented on #91
Hi guys, so from a positioning point of view, what do you guys think of this sample 🕵🏾‍♀️🕵🏾‍♀️🕵🏾‍♀️🕵🏾‍♂️🕵🏾‍♂️🕵🏾‍♂️

## Laptop View
![Screenshot 2022-01-18 002735](https://user-images.githubusercontent.com/16826624/149847353-416e94ad-114e-4f23-b9e0-20fc238e3908.png)

## Mobile View
![Screenshot 2022-01-18 002703](https://user-images.githubusercontent.com/16826624/149847382-128d35d6-e50a-4660-a9d3-0

[2022-01-18 10:11] 0-vortex commented on #91
Search should sit on the right IMHO

[2022-01-18 11:27] hokagedemehin commented on #91
Thanks, @0-vortex your input is always welcome, although I don't get the meaning of the initials tho.

My laptop is going for surgery today and I think it might take me like a day to install all the applications I use regularly on my laptop depending on the network strength

I will put the search bar on the right and show the screenshot soon !!! 🚀🚀🚀

[2022-01-18 11:32] 0-vortex commented on #91
Sounds greate, IMHO is short for "In My Humble Opinion" 🍕

[2022-01-18 23:10] yhoungdev opened #95 "Feature: Progressive Web Application feature included"
### Type of feature

🍕 Feature

### Current behavior

###### the site needs to be installable
#### ## The sites needs to be installable because sometimes many people do like the feel of a native app

### Suggested solution

I fixed that by adding a service worker and a manifest.json file

###### Site can now be installed and have a native behaviour
###### Site now work offline ( from cached items

[2022-01-18 23:15] yhoungdev opened #96 "Feature: Loader should be added"
### Type of feature

🍕 Feature

### Current behavior

A preloader should be added to the application

### Suggested solution

Adding a loader will make it look good and improve user experience

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-19 01:01] bdougie commented on #96
@yhoungdev this issue and PR #94 leaves a lot to be desired. Can you add additional context to what a loader is and why it should be added? At the moment this project has 19 users and zero have requested this.

Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to contribute as well.

[2022-01-19 01:38] bdougie commented on #95
Mentioned in https://github.com/open-sauced/hot/issues/96 but also going to mention here. This project has 19 users to date and none have requested this feature. Some things to consider:

1. This will need documentation
2. This project is using Astro/Vite, will add a service worker? Astro's recommendation is less JavaScript, which makes me question the need for PWA features now while this project

[2022-01-19 10:31] yhoungdev commented on #95
Yea would like to chat

[2022-01-20 02:06] azh412 opened #98 "Bug: README badge"
### Describe the bug

In the badges, the dependabot badge doesn't load properly.

### Steps to reproduce

1. Go to the README.md
2. Go to the badges

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Other (add additional context)

### Environment

Development

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-01-20 09:24] #98 closed

[2022-01-20 22:56] azh412 opened #101 "Feature: Better Dependabot badge (readme)"
### Type of feature

📝 Documentation

### Current behavior

Currently, the badge just shows the dependabot badge, with just the word "dependabot", and could be replaced with another.

### Suggested solution

A better badge has the "active" status next to the word "dependabot" to show that dependabot is active in this project.

### Additional context

_No response_

### Code of Conduct

- [X] I agr

[2022-01-20 23:22] #101 closed

[2022-01-21 09:31] hokagedemehin commented on #91
Hello Everyone,

Glad to be back, Surgery of my laptop was successful and we are good to go,

So what do you think of the search bar on the right side, it looks sleek

@bdougie @0-vortex @jasonericdavis

### Laptop View
![WhatsApp Image 2022-01-21 at 01 04 14](https://user-images.githubusercontent.com/16826624/150502278-604e9c77-671d-4541-84e7-42a1502eac5e.jpeg)

### Mobile View
![WhatsApp Image 2

[2022-01-21 12:56] mtfoley commented on #91
I like the placement - what happens to the pizza icon when you type into the field?

[2022-01-21 13:05] hokagedemehin commented on #91
The "search hot 🍕" is a placeholder in the search input, once you start typing, it goes away 🛹

[2022-01-21 13:30] kelvinsekx commented on #91
Personally I feel the pizza icon looks really confusing.except there is a search icon at the extreme right.

So what I meant is that there has to be a search icon sited on the extreme right.
![Screenshot_20220121-142904~2](https://user-images.githubusercontent.com/51183064/150535306-25b8674e-4854-457d-b893-ef54fd828682.jpg)

[2022-01-21 13:48] hokagedemehin commented on #91
I think the best solution will be to remove the pizza icon and put a search icon there instead. At least that way, one can easily identify the search bar

[2022-01-24 02:33] #68 closed

[2022-01-24 03:59] bdougie opened #105 "Feature: Feature: menu/other UI from header avatar with username"
### Type of feature

🍕 Feature

### Current behavior

When you login to the app the GitHub profile avatar appears in the top right-hand corner. The avatar doubles as a logout button and that are not clear to the user who may be trying to click through a profile..

### Suggested solution

It would be ideal to make the profile a dropdown so the user can get details of the app. This was done in [open

[2022-01-24 04:04] bdougie opened #106 "Feature: Include version number in the console."
### Type of feature

🍕 Feature

### Current behavior

This app relies on semantic versioning and it would be ideal to let the user know what version they are using.

### Suggested solution

In the flagship app we highlight the version in the console.
<img width="1440" alt="Screen Shot 2022-01-23 at 8 00 09 PM" src="https://user-images.githubusercontent.com/5713670/150720051-b2103d7b-ea0d-4791-ae8f

[2022-01-24 04:18] bdougie commented on #91
The search icon is preferred. The copy could be "Search Open Sauced"

Also agree on the Context being needed. The placement of the search box will prevent is from being drilled down.

[2022-01-24 09:55] 0-vortex commented on #106
This sounds like a job for me :D `.take`

[2022-01-24 09:59] hokagedemehin commented on #91
Thanks @bdougie for this suggestion on how we can implement the Context API. I will like to make a suggestion on this so for everyone to comment on. Why don't we have a DataContext.js file that fetches the data, this file wraps the main app.js file and makes the fetched data available across the entire application.  This app also utilizes useState that is also passed down as a props so that the se

[2022-01-24 10:27] 0-vortex commented on #91
Hard no on this one, we are going to use the search box to filter an API, even if that API does not exist right now, there's no way to reason that paginated data can be shared with the 2 components while also being full-text filterable. For mock purposes, sure, iterate the existing array, but innovating on the mock is completely pointless, even the code quality improvements can live somewhere else

[2022-01-24 11:28] hokagedemehin commented on #91
So the search component is supposed to filter the fetched data as the user is typing in the repo name. The search bar is not making any API calls to the backend, it is only making use of the data that is already fetched.

[2022-01-24 12:51] 0-vortex commented on #91
In the current iteration where all the data is available, yes, however in future iterations we will not keep local storage of 7000 repositories to search using `.filter` or `.map`. Been looking at [supabase FT search](https://supabase.com/docs/guides/database/full-text-search) but not sure that is enough even, it's most likely we will use some kind of serverless function for this 🍕

[2022-01-24 13:40] nulfrost commented on #105
.take

[2022-01-24 14:37] bdougie commented on #91
Adding a DataContext is a much a larger project and out of scope for this. I would even approach this to be much a much smaller task than described above.

The SearchContext should only capture the string input from the user. The Context will be added to the fetchedRepositorie calls in the PostsWrap component. The goal here is to filter search and lean on Supabase for the data. At the moment, cach

[2022-01-24 22:53] nulfrost commented on #105
Would it be okay to utilize https://headlessui.dev/react/menu ? These components come with accessibility features out of the box and can still be styled with tailwind further if needed

[2022-01-24 23:11] 0-vortex commented on #105
Don't see any problem with that approach! 🍕 🚀

[2022-01-25 20:26] #105 closed

[2022-01-25 20:28] 0-vortex opened #108 "Bug: login return URL does not work with local development"
### Describe the bug

Need `.env` populated with local development database and have its Auth set up for `localhost:3000` redirect.

### Steps to reproduce

1. start local development
2. login
3. get redirected to https://hot.opensauced.pizza

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No response_

### Additional conte

[2022-01-25 20:29] 0-vortex commented on #108
@bdougie think this one is for you :D

[2022-01-25 20:31] 0-vortex commented on #93
Checking the schema visualiser out now, most of the Supabase CLI commands are documented in the README now!

[2022-01-25 22:39] blackgirlbytes opened #110 "Feature: Create a Stafftool bar when user is logged in"
### Type of feature

🍕 Feature

### Current behavior

Currently, when you log in, there is not staff tool bar.

### Suggested solution

Been chatting with Brian, and some applications have this feature for projects ..when you press the ` on your keyboard it should toggle a black bar that gives details about the version number, the branch, and admin access (if that's a thing in this project).

I sp

[2022-01-25 23:52] 0-vortex commented on #110
CS 1.6 🔫 🍕 - once toggled, will it support some simple commands like "help"? :D

[2022-01-26 01:46] blackgirlbytes commented on #110
That's a great idea @0-vortex ! I'm open to ideas. I only have the GitHub staffbar as my example, but maybe some of the items on it ..aren't as relevant to this project

[2022-01-26 15:27] bdougie opened #111 "Feature: Link to user profile in the user dropdown."
### Type of feature

🍕 Feature

### Current behavior

![Screen Shot 2022-01-26 at 7 22 55 AM](https://user-images.githubusercontent.com/5713670/151192045-7ad033d0-5347-46a1-a44f-5f119e616014.png)

When logged in the user name is shown. That should be a hyperlink to their github profile (i.e. github.com/bdougie)

### Suggested solution

This line https://github.com/open-sauced/hot/blob/main/src/com

[2022-01-26 16:17] rajat4984 commented on #111
Hey i think i can resolve this issue can you assign this to me

[2022-01-26 17:48] 0-vortex commented on #110
I don't know the GitHub bar, was just thinking of Counter-Strike 🤣

![](https://www.tobyscs.com/files/cs-how-to-activate-console.jpg)

[2022-01-26 17:49] 0-vortex commented on #111
Make sure to check out the [contributing guide](https://docs.opensauced.pizza/contributing/introduction-to-contributing/#issues)!

[2022-01-26 17:50] blackgirlbytes commented on #110
ohhhh my b..that's what CS 1.6  is <-- had no clue.

[2022-01-26 18:10] rajat4984 commented on #111
.take

[2022-01-29 20:04] #111 closed

[2022-02-05 21:02] 0-vortex commented on #93
.take

[2022-02-12 16:48] jasonericdavis opened #124 "Feature: Add ability for a user to see the repos they have voted for"
### Type of feature

🍕 Feature

### Current behavior

Currently there is no way for a user to see the repos that they have voted for.

### Suggested solution

Add a `My Votes` link to the secondary navbar that filters the repos based on the repos they have voted for.

<img width="856" alt="Screen Shot 2022-02-12 at 11 47 47 AM" src="https://user-images.githubusercontent.com/14043845/153720216-14c8

[2022-02-21 01:59] #124 closed

[2022-02-21 02:00] bdougie commented on #80
@0-vortex we should move forward with this. After a lot of thought and conversation, I think to react/vite is the correct path here. The [complexity planned for this project](https://github.com/orgs/open-sauced/projects/1) will ensure Astro is an albatross holding it down.

[2022-02-21 03:32] bdougie commented on #108
Looking to fix this now. The solution I got is this:

[code]

From what I read, having a separate localhost auth is the preferred solution. https://github.com/supabase/supabase/discussions/600

[2022-02-21 03:47] #108 closed

[2022-02-21 03:48] bdougie commented on #91
Checking in @hokagedemehin. Are you able to PR what you have? I would love to assist in unblocking this.

[2022-02-21 17:18] 0-vortex commented on #80
I'll pick this up this week, want to finish the drafts in hot and actions first. The open sauced boilerplate is very similar to open-sauced, just a matter of starting with less dependencies and written code.

[2022-02-21 21:08] bdougie opened #128 "Fix: Button needs a min-height first in the row"
### Type of feature

🐛 Fix

### Current behavior

When the "load more" button is the first item in the list the height does not match.

Not the first item.
<img width="987" alt="Screen Shot 2022-02-21 at 1 06 21 PM" src="https://user-images.githubusercontent.com/5713670/155026363-12d336cb-64f9-447e-a735-a090567826ca.png">

As the first item.
<img width="1348" alt="Screen Shot 2022-02-21 at 1 00 10

[2022-02-21 21:11] bdougie opened #129 "Bug: When loading more items list gets unordered for a second."
### Describe the bug

When loading more items list gets unordered for a second.

### Steps to reproduce

1. Visit hot.opensauced.pizza
2. Scroll to the bottom and click "Load more"
3. Not the quick unordered list

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Production

### Additional context

First discovered in https://github.com/ope

[2022-02-21 21:32] bdougie commented on #129
Not sure if this happening. Recorded my screen and slowed it down a bit. cc/ @0-vortex

![ezgif com-gif-maker](https://user-images.githubusercontent.com/5713670/155028560-50939018-2661-4c0c-b464-45ba09db8825.gif)

[2022-02-21 22:20] 0-vortex commented on #129
That's what I was describing in the PR from the deploy preview. I'm guessing it's the sort on the items being handled for tabs, whereas the "load more" action should just push additional items to the tab without re-ordering :D

[2022-02-22 01:52] bdougie commented on #91
I played around with this and think this will need to remove Astro to make this a little more approachable. #80

Example function for interacting with supabase
[code]

[2022-02-22 07:36] hokagedemehin commented on #91
Hi @bdougie thanks for reaching out. I have been engaged with work and family at the same time. I think we would need to convert the `index.astro` to `index.js` for the search functionality to work. Is that possible?

[2022-02-24 00:29] 0-vortex commented on #80
Time to `.take` this apart 👯

[2022-02-24 06:24] bdougie opened #130 "User repo submissions"
## Story

As a user I would like to submit repos for consideration of open sauced users to upvote.

## Details

- [ ] #131
- [ ] #132

## Design

![image (1)](https://user-images.githubusercontent.com/5713670/155469702-cc3b2de0-aa86-4db3-81c0-69a857048e38.png)

[2022-02-24 06:31] bdougie opened #131 "Create Users submissions table"
This will require someone with Supabase access to create the table and migration.

## Details

- [x] Create a table for user submissions
- [ ] Create a database.js funciton to upvote the submitted repo
- [ ] Check if the repo already exist in the DB before adding.

## Question
Should the user still be associated to the submission?

We will need to wait on https://github.com/open-sauced/hot/pull/12

[2022-02-24 06:32] bdougie opened #132 "Implement Floating submit button"

[2022-02-24 06:56] bdougie opened #133 "User profiles"
## Story
As a user I want to view my profile and add links to my contributions.

## Details

- [x] #134
- [x] #135
- [ ] Implement contribution activity component
- [ ] Implement backend logic for badges
- [ ] Discuss badges for user interactions (keep it simple)
- [ ] Connect Profiles to  GitHub user data (i.e. location)

## Design Mock
![image (2)](https://user-images.githubusercontent.com/57136

[2022-02-24 07:00] bdougie opened #134 "Create table in the DB to collect links to user contributions"
- [ ] Create table for links to contributions (blogs, PRs, etc.)
- [ ] Implement logic to categorize contributions.  (blogs, PRs, etc.)

[2022-02-24 07:00] bdougie opened #135 "Implement new profile page UI (https://hot.opensauced.pizza/{username})"
## What is needed?
- Profile Image and Username
- Contribution Activity feed
- Contribution submission form

## Design
![image (2)](https://user-images.githubusercontent.com/5713670/155474571-aba9b1bb-f2bf-48e6-a585-6aa984d511db.png)

[2022-02-24 19:21] bdougie commented on #134
My thoughts on the data need for the table.

user_submissions
- replace the recent tab
- collect stars, issues, and contributor data?
- user submissions will be the primary tab and encourage stars
- filter by week and not day
- repeat submissions are just votes.

[2022-02-24 21:31] #93 closed

[2022-02-24 22:17] 0-vortex opened #136 "Bug: local development still not working/clear"
### Describe the bug

There are additional live settings in the form of `supabase/config.toml` settings like github authentication that don't exactly work on the local version of the application :/

### Steps to reproduce

1. `npm run db:start`
2. `npm run db:seed`
3. `npm start`

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environmen

[2022-02-24 22:18] 0-vortex commented on #136
Going to pre-emptively take this for the code part, @bdougie we might have to set up a "local" GitHub app for the id and secret on the persisted graph queries. Been testing it locally so far mirroring production values, seems to be an easy fix!

[2022-03-01 05:49] bdougie commented on #91
The conversion has begun #140

[2022-03-03 15:27] bdougie opened #141 "Feature: Introduce Radix Primitives into the app."
### Type of feature

🍕 Feature

### Current behavior

After some discussion, the Open Sauced came to the conclusion that we need a design system ensure quality and consistency. So far items have been introduced ad hoc and styled by individuals.

Moving forward we will centralize on [radix](https://www.radix-ui.com/docs/primitive) + [tailwind](https://tailwindcss.com/) for UI components.

### Sugge

[2022-03-03 20:00] 0-vortex commented on #141
Going to `.take` this one 🍕

[2022-03-03 22:28] hokagedemehin commented on #141
I think it will make sense to merge PR #140 before you make a PR for this one. Not that it's compulsory, just makes sense that's all

[2022-03-03 22:30] 0-vortex commented on #141
It's dropping tonight :D

[2022-03-04 20:41] #80 closed

[2022-03-08 01:07] nulfrost commented on #141
sweet, I love radix and tailwind! accessibility out of the box will help a ton

[2022-03-08 10:27] 0-vortex commented on #141
lighthouse score 100 incoming! 🍕

[2022-03-08 22:01] nulfrost commented on #132
I can take this on, since we are going to be using radix we can use the [popover](https://www.radix-ui.com/docs/primitives/components/popover) component to achieve this easily

[2022-03-08 22:01] nulfrost commented on #132
.take

[2022-03-08 22:21] nulfrost commented on #128
.take

[2022-03-08 23:43] #128 closed

[2022-03-09 00:38] 0-vortex opened #146 "Feature: decouple supabase into a fully-fledged backend"
### Type of feature

🍕 Feature

### Current behavior

**Description:**
Hot open sauced was supposed to be a weekend mockup that we use to mockup several features into open sauced however it turned the other way around and now it is in need of some minor architecture changes.

Due to the above experimental nature, we created loose database configurations that were initially flat data but ultimately

[2022-03-09 00:40] 0-vortex commented on #146
This PR calls for a different solution for #136 and invalidates #139

[2022-03-09 18:26] bdougie commented on #146
This is 💯  the future and direction we are headed. My only reservation is another rewrite would delay potential user adoption by a month. My question is when we enable RLS for Supabase and completed the planned UI clean-up, would this project be ready for prime time without the RedwoodJs and Supabase updates?

The plan:
1. Launch new landing page for opensauced.pizza with some clear features and o

[2022-03-09 22:37] bdougie commented on #141
Moving forward we can approach UI this way:

1. [Radix primitives ](https://www.radix-ui.com/)for what is available
2. [Headless UI ](https://headlessui.dev/)for what is not available in Radix

Though I do want to explore [radix-tailwind ](https://tailwindcss-radix.vercel.app/)but not ready to commit to that.

[2022-03-09 23:57] 0-vortex commented on #141
Commit to radix primitives, the tailwind connector is just a helper library we can ultimately do without! 🍕

[2022-03-12 02:44] 0-vortex opened #147 "Feature: implement pre-release deployment"
### Type of feature

🍕 Feature

### Current behavior

all pull requests go to `main` and every feature we release goes straight to production on netlify builds.

### Suggested solution

Implement an `alpha` or `beta` branch with release and deployment to netlify configuration

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Co

[2022-03-12 02:44] 0-vortex commented on #147
.take

[2022-03-12 05:25] 0-vortex commented on #106
Currently, we are building the static build output in https://github.com/open-sauced/hot/blob/0e9b53137bb252e1c6c2ffca9ed9502cd552c399/.github/workflows/release.yml#L62 and Netlify build is picking up deployment before the release action finishes.

After some thorough investigation, both should be fixed for this issue to be successfully closed. The PR for this might come in 2 parts! 🍕

[2022-03-12 05:42] 0-vortex commented on #106
This might be permanently broken in the docker build, have to investigate if using the same plugin is possible

[2022-03-12 05:51] 0-vortex opened #149 "Feature: get deploy environment name from branch"
### Type of feature

🔁 CI

### Current behavior

The environment key is manually set to production in: https://github.com/open-sauced/hot/blob/0e9b53137bb252e1c6c2ffca9ed9502cd552c399/.github/workflows/release.yml#L108-L110

### Suggested solution

Make it dynamic based on branch name

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduc

[2022-03-12 08:55] 0-vortex opened #150 "Feature: re-implement dark mode and toggle"
### Type of feature

🍕 Feature

### Current behavior

Dark mode is not enabled

### Suggested solution

Use [Tailwind - Toggling dark mode manually](https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually) with a react hook IE:
- https://github.com/open-sauced/open-sauced/blob/eb1bb9030cbc0bba6d883d5ed933e99f5488ea14/src/containers/App.jsx#L48-L72
- https://github.com/juniHub/try-not-to

[2022-03-12 18:03] #147 closed

[2022-03-12 18:03] #149 closed

[2022-03-12 18:39] 0-vortex commented on #129
Got a fix for this, could do a beta and check everything works after `.take`ing :D

[2022-03-16 22:01] #129 closed

[2022-03-29 13:32] bdougie commented on #132
Hey @nulfrost. Checking in to see if you still want to tackle this. We are using the beta branch for these UI features.

[2022-03-29 13:37] nulfrost commented on #132
Yeah I can take a look at this tonight, was mostly waiting for the radix stuff to be merged in but I can see that's been wrapped up

[2022-04-11 16:08] #96 closed

[2022-04-13 22:57] bdougie commented on #91
Sharing the latest mockup for search here:

![search (1)](https://user-images.githubusercontent.com/5713670/163283198-812e774b-2f73-4895-85ac-beb3d598a5b7.png)

[2022-04-29 23:39] bdougie commented on #132
Checking in to see if you still have time for this.

[2022-04-29 23:40] bdougie commented on #135
The profile page will now be the default page for app.opensauced.pizza

[2022-04-29 23:40] #135 closed

[2022-05-08 07:05] kelvinsekx commented on #150
.take

[2022-05-10 20:43] 0-vortex commented on #132
I can take a look at this but it's likely the current layout was pretty static - a responsive flex approach would be desired however I am not sure if that would imply messing with some of the other components as well. Nonetheless, a CSS approach would be best as calculating screen values and relying on client screen dimensions triples the work long term due to:
- desktop layout
- responsive layout

[2022-05-14 01:18] chadstewart opened #157 "Bug: Posthog not sending analytics data"
### Describe the bug

Posthog won't send analytics data from the app

### Steps to reproduce

Run the application and click on any upvote button or the login button.

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project'

[2022-05-14 10:45] 0-vortex commented on #157
Hey, the env variable needs to be set in the repo settings, that was a step @bdougie was supposed to do before merging :D I can add it as well now that I am on but didn't merge yesterday because I didn't know what value it should have :D

[2022-05-14 12:46] chadstewart commented on #157
I believe the .env variable was set but I didn't know that the variable needed the prefix 'VITE_' to be exposed by vite to be exposed by Vite. Honestly, this work taught me a bit about Vite but I'm also not sure about the fix I did for this issue. 😅

[2022-05-17 03:20] #157 closed

[2022-05-19 21:54] 0-vortex opened #162 "Bug: improper use of any types"
### Describe the bug

<any> is used in too many places, the beta -> main deploy wasn't cleaned up properly

### Steps to reproduce

npm run lint

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

##

[2022-05-19 21:56] 0-vortex opened #163 "Bug: filtering doesn't work after v2.3.0"
### Describe the bug

filtering doesn't work

### Steps to reproduce

go to https://hot.opensauced.pizza and click any of the top bar tabs, only "my votes" and "popular" buttons filter and order properly

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No response_

### Additional context

_No response_

### Code of Conduct

[2022-05-19 23:32] bdougie opened #167 "Feature: Filtering should be reflected in the URL"
### Type of feature

🍕 Feature

### Current behavior

When selecting a filter it requests new data from the API (supabase for now). It should provide the filter in the URL. i.e. `hot.opensauced.pizza?filter=upvoted`. The default can still be popular, but it should also respect the URL 👉🏾`hot.opensauced.pizza?filter=popular`

### Suggested solution

Use next.js to add query params.

### Additional

[2022-05-19 23:33] bdougie commented on #167
We should confirm that this is fixed first. https://github.com/open-sauced/hot/issues/163

[2022-05-20 01:11] 0-vortex commented on #167
Routes can be implemented without database filtering actually working, we should add a header or a text description of what the users are seeing with a specific filter above the repo grid/list, that way we can make routing and URL parameter translations work from navigation links, pass those prop(s) over to the fetch function when filtering/ordering works on the backend level. IMHO just implementi

[2022-05-20 20:45] bdougie commented on #91
Going to have @shamimbinnur take this over.

[2022-05-24 19:03] user-64bit opened #168 "Feature: Add "open in gitpod" in readme"
### Type of feature

✅ Test

### Current behavior

If someone wants to look at the project and do some try and error things, that can be done using Gitpod.

### Suggested solution

_No response_

### Additional context

_No response_

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

### Contributing Docs

- [x] I agree to follow this project's Contribution Docs

[2022-05-24 19:52] 0-vortex commented on #168
Hello and thank you for opening the issue! 🍕  This is actually a discussed topic in https://github.com/open-sauced/open-sauced/issues/867 and due to some limitations in the oauth process we cannot use WEB IDEs to test the actual application as the login redirect would either refresh the live website or straight not work.

With the addition of a backend API we might be able to fix this, however, it

[2022-05-26 13:26] bdougie opened #172 "Feature: Add carrot to search results"
### Type of feature

🍕 Feature

### Current behavior

Currently, live on the beta branch there is a search functionality
<img width="682" alt="Screen Shot 2022-05-26 at 6 18 16 AM" src="https://user-images.githubusercontent.com/5713670/170496066-87f46381-add2-43cd-882c-cb7d6305adb6.png">
y

### Suggested solution

This should be straightforward and use font awesome icons.

https://fontawesome.com/

[2022-05-26 18:48] Mrityunjay1 commented on #172
Hello, Can i work on this.
Adding carrot if you can give a brief about it. That would be great.

[2022-05-26 20:29] bdougie opened #174 "Feature: update last commit date to dayjs moment"
### Type of feature

🍕 Feature

### Current behavior

When hovering over contributors the date format presents a date string. This should be presented in moment content.

i.e. "2 days ago"

![Screen Shot 2022-05-26 at 1 22 43 PM](https://user-images.githubusercontent.com/5713670/170574481-821877e1-d3cb-4027-a92c-646c362c637e.png)

### Suggested solution

Install [dayJS](https://day.js.org/) - http

[2022-05-27 01:52] mtfoley commented on #174
as I've learned at work lately, the relative format is better from an a11y standpoint as well.

another approach (if the value can be passed as a Date object) might be to just do the subtraction so you don' t need to install anything:
[code]

[2022-05-27 15:32] 0-vortex commented on #174
The date is saved in the database as [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) or [PG TIMESTAMP WITHOUT TIME ZONE](https://www.postgresql.org/docs/current/datatype-datetime.html). We can have conversions in potentially 3 layers:
- how we store dates
- how we retrieve dates from the backend
- how we parse dates on the client

[2022-05-27 17:57] mtfoley commented on #174
if it's the "last_merged_at" field I'm seeing in the network requests, I think we'd only need to put "+00:00" on the end of it so that the JS Date constructor (or `Date.parse`) would consider it to be UTC and do the differential correctly.

<img width="363" alt="Screen Shot 2022-05-27 at 1 55 14 PM" src="https://user-images.githubusercontent.com/3792749/170765167-c602f970-49ab-4e95-b088-223049a39b

[2022-05-28 01:58] mtfoley commented on #163
FWIW, here's how the fetchRecommendations payloads break down at the moment:

They all share the same ordering attributes.
`order`=`stars.desc.nullslast,updated_at.desc.nullslast`
`contributions.order`=`last_merged_at.desc.nullslast`

BaseSelect=`id,full_name,description,stars,issues,starsRelation:users_to_repos_stars(starsCount:count),votesRelation:users_to_repos_votes(votesCount:count),contribut

[2022-05-28 02:00] 0-vortex commented on #163
Nothing client side, ditching PostgRest ASAP :D also, working on this so I should `.take` it 💯

[2022-05-28 03:12] mtfoley commented on #162
i sent a PR with a little feature baked in.
.take

[2022-05-28 12:56] TAKANOME-DEV commented on #167
Hey folks, can I take afetr #163 is fixed??

[2022-05-28 12:58] TAKANOME-DEV commented on #150
Hey @kelvinsekx  do you need some help??

[2022-05-28 15:49] #162 closed

[2022-05-29 00:55] mtfoley commented on #87
Keyboard operability looks OK to me, but there are some places that some `aria-label` attributes would be a good thing:
- pizza icon button just under the search box
- list & grid buttons (though somewhat irrelevant for screen reader use)
- voting buttons
- social links at the bottom

There are some divs with role="button" for whom styling may be fine as a button element instead.

[2022-05-29 02:27] bdougie commented on #172
Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-05-29 21:52] bdougie commented on #141
We have already begin using radix. For those new to contributing components, we can point them to this issue. FYI, @shamimbinnur

[2022-05-29 21:52] #141 closed

[2022-05-29 21:53] #91 closed

[2022-05-29 21:53] bdougie commented on #81
We have discovered a work around with the "load more" button

[2022-05-29 21:53] #81 closed

[2022-05-30 10:40] shamimbinnur commented on #132
@bdougie is the backend code implemented in any branch? If it is implemented, I am gonna start working from that branch.

[2022-06-01 16:38] shamimbinnur commented on #132
Floating repo submission UI implemented
#179

[2022-06-06 14:10] ABeck617 commented on #174
Good Morning I would like to tackle this issue

[2022-06-06 14:11] ABeck617 commented on #174
".take"

[2022-06-07 02:23] 0-vortex opened #180 "Bug: correct domain previews"
### Describe the bug

Supabase now supports wildcard domains, they should be updated before our future proof PR domains hit the limit again!

<img width="635" alt="Screenshot 2022-06-07 at 04 20 31" src="https://user-images.githubusercontent.com/237133/172281972-6cf0e6f3-18f1-4eb1-b243-82162df13246.png">

### Steps to reproduce

open many PRs and try to login

### Affected services

hot.opensauced

[2022-06-10 13:22] htuerker commented on #172
Hope this works!
.take

[2022-06-10 13:29] htuerker commented on #172
.take

[2022-06-10 13:42] mtfoley commented on #172
Hi @htuerker  it looks like the "take action" thing is broken upstream. I'm assigning you on this one and filing a bug there.

[2022-06-10 13:48] htuerker commented on #172
I was about to look for a solution on the discord channel. Thanks, I'm going to work on this!

[2022-06-13 14:57] htuerker opened #182 "Feature: Add card component to grid showcase"
### Type of feature

🍕 Feature

### Current behavior

In the recommendations grid, we're using an image not a real component.

For this reason, it's hard to add additional features to it such as giving direct links to access information data shown on the image.

![Screen Shot 2022-06-13 at 17 50 46](https://user-images.githubusercontent.com/46192266/173381977-d91d9500-102c-4a11-b63b-8e524b7c3248.p

[2022-06-14 03:32] blackgirlbytes commented on #174
Hey @ABeck617 i figured it out. here's what we have to do:

for the imports

[code]

for the conversion to relative time
``` lastPr={dayjs(data.contributions[1]?.last_merged_at).fromNow()}/>} ```

I think you only have availability to meet on Thursday but if you have time earlier ..I'm down too. This should take us less than 30 minutes

[2022-06-16 05:00] bdougie opened #183 "Feature: New UI refresh"
### Type of feature

🍕 Feature

### Current behavior

![Uploading Screen Shot 2022-06-15 at 9.53.07 PM.png…]()

### Suggested solution

## New Navbar
<img width="1262" alt="Screen Shot 2022-06-15 at 9 59 05 PM" src="https://user-images.githubusercontent.com/5713670/173994677-074e9a37-0c4d-4d20-a4fe-f20cc730b574.png">

## New Subnav
<img width="1252" alt="Screen Shot 2022-06-15 at 9 59 14 PM" src="

[2022-06-16 17:48] htuerker commented on #167
.take

[2022-06-16 17:52] 0-vortex commented on #78
Re-opening this as recent pull requests show `vsc` doesn't properly detect our configuration and applies rogue prettier rules. Also, because eslint now works, we can apply these rules as part of the PR process and potentially a pre-commit hook (this part could become an issue on its own if there is difficulty applying base rules)

[2022-06-16 17:54] #95 closed

[2022-06-16 17:57] 0-vortex commented on #180
This is fixed as oy yesterday's stream! Try logging in to https://deploy-preview-181--hot-sauced-ui.netlify.app

[2022-06-16 17:57] #180 closed

[2022-06-16 23:49] blackgirlbytes opened #186 "Feature: Add improvements to Avatar / Date Component"
### Type of feature

🧑‍💻 Refactor

### Current behavior

I helped someone making their first open source contribution, but there are some improvement needed for it. Right now, in beta
- It says "Last contribution at [insert relative time] " --> I need to remove the at
- It needs tests
- Storybook needs to be updated

### Suggested solution

see above

### Additional context

_No response_

### Cod

[2022-06-16 23:49] blackgirlbytes commented on #186
.take

[2022-06-17 00:23] 0-vortex commented on #186
I removed the `at ` part btw :D

[2022-06-19 17:37] htuerker opened #188 "Bug: Relative dates are not available in search results"
### Describe the bug

Relative date implementation by #185 isn't available for the `Avatar` on search results.
![Screen Shot 2022-06-19 at 20 21 02](https://user-images.githubusercontent.com/46192266/174492938-24867807-3a5e-43a7-b342-4cbfc1dea873.png)

Suggested solution:

1. I recommend moving the `dayjs(timestamp).fromNow()` conversion into `Avatar` component.

https://github.com/open-sauced/hot

[2022-06-19 17:39] 0-vortex commented on #188
potentially duplicate of #186 tho it can be beta'd using the same reasoning as #185

[2022-06-19 17:40] htuerker commented on #186
Would you like to handle #188 in the scope of your work? @blackgirlbytes

[2022-06-19 19:10] blackgirlbytes commented on #186
sure @htuerker !!! :)  thank you!

[2022-06-19 19:10] blackgirlbytes commented on #188
.take

[2022-06-25 19:58] mtfoley commented on #87
.take

[2022-06-29 21:34] bdougie commented on #64
Going to unassigned for now. This is probably dependent on the new API changes as well. FYI for anyone who is picking this up. https://github.com/0-vortex/api.opensauced.pizza

[2022-06-29 21:35] bdougie commented on #150
Going to unassign this one. @TAKANOME-DEV is you are still around feel free to take a look, but also understand this is also blocked by this PR. https://github.com/open-sauced/hot/pull/189

[2022-06-29 22:10] bdougie opened #190 "Feature: Replace Jest with Vitest"
### Type of feature

🍕 Feature

### Current behavior

In order to run Jest in our Vite environment, we needed to include a few different libraries. By leveraging vitest, there is no need for those.

https://vitest.dev/guide/comparisons.html#jest

### Suggested solution

npm install vitest -D

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of

[2022-06-30 03:38] #190 closed

[2022-06-30 06:38] TAKANOME-DEV commented on #150
Yeah for sure, I am going to give it a shot

[2022-07-06 23:11] bdougie commented on #64
This has been merged to beta. FYI, moving forward we want to follow this pattern. Also added this text to the README.

[2022-07-06 23:14] bdougie opened #196 "Feature: Move the search debounce logic to its own hook"
### Type of feature

🧑‍💻 Refactor

### Current behavior

After some discovery looking for components that need testing, I saw that this logic was not moved and it needs to be to keep all components flexible and reusable.

https://github.com/open-sauced/hot/blob/main/src/components/PrimaryNav.tsx#L19-L38

### Suggested solution

1. Move this debounce function to a hook
2. Tests are required for thi

[2022-07-09 01:54] bdougie opened #198 "Display user submission and votes by Week"
![Image](https://user-images.githubusercontent.com/5713670/178087305-1dfb9d45-583f-4bb8-b53d-54818697aa22.png)

- [x] Remove the layout toggle
- [ ] Update the API to include submissions by week

[2022-07-09 01:57] bdougie commented on #146
Update: We don't need to explore the Redwood switch per the conversations in discord last month. We have also started the process towards NestJS - https://github.com/open-sauced/api.opensauced.pizza

[2022-07-09 01:58] bdougie commented on #183
Heads ups there is a new UI update coming #198. This is currently blocked by #146

[2022-07-12 03:42] mtfoley commented on #198
Hey @bdougie this might be a better issue on the API repo, but:
- should submissions "by week" mean submissions in the last seven days (rather than time boxed Saturday-Sunday for example)?
- does this mean that submissions probably need to be tracked in a separate table? I ask because I don't think we're keeping track of how repos actually made their way into the list (stars vs contributions vs su

[2022-07-12 09:54] shamimbinnur commented on #198
Hey @mtfoley

If I didn't guess wrong, the sorting "by week" can be achieved by simply ordering using the current date-time and the "created_at" field of the repo entity.
I think sorting "by week" probably won't be implemented by filtering out by the submission date of a user, rather it will be considered by the date when the "repo submission request" is accepted and the repo is added to the main

[2022-07-15 13:32] bdougie opened #200 "Feature: New Hero"
### Type of feature

🍕 Feature

### Current behavior

Currently everything above the fold provides no context on the project.

<img width="1187" alt="Screen Shot 2022-07-15 at 6 22 28 AM" src="https://user-images.githubusercontent.com/5713670/179232857-6d097186-31cf-4b94-bdfd-0e10e89ac0f0.png">

We have no hero to provide search and a H1.

### Suggested solution

<img width="975" alt="Screen Shot

[2022-07-15 13:32] bdougie opened #201 "Feature: UI updated nav"
### Type of feature

🍕 Feature

### Current behavior

<img width="1677" alt="Screen Shot 2022-07-15 at 6 22 34 AM" src="https://user-images.githubusercontent.com/5713670/179231956-2c7f5ac8-fd75-4544-8152-fafc1786e208.png">

1. Search box needs to move
2. New logo
3. Login is now a button

### Suggested solution

Update nav
- [ ] Votes link in the header
- [ ] New sign in button
- [ ] New logo and

[2022-07-15 13:43] bdougie opened #202 "Feature: New hot cards"
### Type of feature

🍕 Feature

### Current behavior

Currently cards are shown in PostGrid view and PostList view. We are removing that toggle and showing the hottest repos in PostGrid view and update the list to be shown with all repos listed.

### Suggested solution

Please remove the sub-nav from the page and replace that with the "hot card" section. There will only be 3 cards listed, which we

[2022-07-15 13:49] bdougie opened #203 "Feature: New PostList cards"
### Type of feature

🍕 Feature

### Current behavior

We are combing the list and grid views. Currently we have a list card view that lacks information and hides the vote button amongst data. We need to update this.

### Suggested solution

1. Remove the list/grid toggle and place it with a list view only.
2. This change will support #202. The hot card section will be placed above the list view.

[2022-07-15 13:54] bdougie opened #204 "Feature: Contributor lists hover effect."
### Type of feature

🍕 Feature

### Current behavior

On the changes in #189 we now include 5 contributors with a link to see more. Instead we will remove the link and create a hover effect to show them.

### Suggested solution

No hover
<img width="77" alt="Screen Shot 2022-07-15 at 6 37 49 AM" src="https://user-images.githubusercontent.com/5713670/179236800-32894bbf-7a0b-4cbc-a7c0-445822eb39cd.p

[2022-07-15 14:11] bdougie opened #205 "Search will have command+K option to show search."
This work should be done in a separate PR from #200. We will need to implement using command + K or Ctrl + K to open the search box. I am sure there is a plugin for keyboard commands, but have not done the research.

This work cannot merge without #200

![new hero](https://user-images.githubusercontent.com/5713670/179231863-44c1823a-897d-46e1-9157-5afbadab3adf.png)

[2022-07-15 14:16] bdougie commented on #182
This will be covered in the work in https://github.com/open-sauced/hot/milestone/2

[2022-07-15 14:17] bdougie opened #206 "Add ability to report bugs from the user dropdown"
There should be a link to "report a bug" that links to https://github.com/open-sauced/hot/issues/new?assignees=&labels=%F0%9F%91%80+needs+triage%2C%F0%9F%90%9B+bug&template=bug_report.yml&title=Bug%3A+

![Image](https://user-images.githubusercontent.com/5713670/179242025-13ac7182-c97c-4368-9cba-b7751c0b4188.png)

[2022-07-15 21:43] bdougie commented on #150
This feature needs design per #201

[2022-07-15 22:12] bdougie opened #207 "Test: write test for dayjs"
### Type of feature

✅ Test

### Current behavior

The DayJS was added to the avatar component in #199. The logic is baked in and will be challenging to test.

### Suggested solution

1. Move dayjs to a lib/day.js
2. Test dayjs in isolation

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X] I agree to fo

[2022-07-15 23:19] hokagedemehin commented on #200
.take

[2022-07-15 23:32] hokagedemehin opened #208 "Bug: My Votes Tab is Empty if you have never voted before"
### Describe the bug

My Votes tab is empty if you have never voted before.

There could be a placeholder illustration there to say that this page is empty because you have not voted before or something

What do you think?

### Steps to reproduce

1. Go to [http://localhost:3000/](localhost)
2. Click on My Votes (If you have never voted before)
3. Page will be empty

### Screenshot
![Screenshot 20

[2022-07-16 01:57] pixelsbyeryc commented on #204
Made a working prototype to show how this interaction should work:

[View in Figma](https://www.figma.com/proto/z0LEHrTwmvuCokhbYmIhPd/OpenSauced-%E2%80%94-Hot-(hot.opensauced.pizza)?page-id=184%3A38&node-id=184%3A66&viewport=78%2C373%2C1.02&scaling=min-zoom&starting-point-node-id=184%3A66)

**Tooltip CSS** (Use the "Inspect" tab in Figma to view this CSS):
[code]

[2022-07-16 02:59] pixelsbyeryc commented on #202
Here's the "voted" state for the "Upvote" button. We can change the copy, that's just a placeholder.

<img width="537" alt="Screen Shot 2022-07-15 at 11 58 59 PM" src="https://user-images.githubusercontent.com/101464991/179336685-23c46dd1-15df-4a5c-8c73-a4c7baa8b6a8.png">

[2022-07-16 03:00] pixelsbyeryc commented on #200
@bdougie does it make sense to have a search box when the nav scrolls down?

[2022-07-16 03:02] pixelsbyeryc commented on #203
When you click to "upvote":

<img width="1263" alt="Screen Shot 2022-07-16 at 12 02 20 AM" src="https://user-images.githubusercontent.com/101464991/179336766-b7a122ba-9ea7-4eba-8c5e-824a08aa7436.png">

[2022-07-16 05:08] 0-vortex commented on #208
good catch, some kind of status message should be displayed when returned repositories is 0 from the backend, in all the tabs actually!

[2022-07-16 05:38] bdougie commented on #200
It would be nice for it to pin when the sue scrolls. Happy to see a design, but I would scope that on a new issue.

[2022-07-16 06:02] bdougie commented on #200
@hokagedemehin going to I assign you since this work will need to ship alongside #201. Can you grab one of the card update issues instead?

[2022-07-16 06:19] hokagedemehin commented on #200
I will take #202 if that is fine

[2022-07-16 06:20] hokagedemehin commented on #202
.take

[2022-07-16 06:47] pixelsbyeryc opened #209 "Design: search box when the nav scrolls"
When the nav scrolls, or when the user is in an internal page, show the search bar on the nav.

__Originally posted by @pixelsbyeryc in https://github.com/open-sauced/hot/issues/200#issuecomment-1186074822__

[2022-07-16 06:47] pixelsbyeryc commented on #209
.take

[2022-07-18 15:35] #167 closed

[2022-07-18 15:35] #174 closed

[2022-07-18 15:35] #64 closed

[2022-07-18 15:36] #130 closed

[2022-07-18 15:36] #163 closed

[2022-07-18 15:36] #172 closed

[2022-07-18 15:36] #186 closed

[2022-07-18 16:25] bdougie opened #211 "Feature: Make the submission work with discord"
### Type of feature

🍕 Feature

### Current behavior

The submission button is live but it does not work.
![Screen Shot 2022-07-18 at 9 23 04 AM](https://user-images.githubusercontent.com/5713670/179557825-31c07e4b-e6ea-4e04-9cc2-3b37ecb36aa2.png)

### Suggested solution

We should at the very least send the submissions to discord so we can track them and add them manually.

### Additional context

[2022-07-19 12:58] bdougie opened #213 "Feature: Make MyVotes list"
### Type of feature

🍕 Feature

### Current behavior

During the work from https://github.com/open-sauced/hot/issues/201, we realize there is no design for list the users votes.

<img width="74" alt="Screen Shot 2022-07-19 at 5 55 35 AM" src="https://user-images.githubusercontent.com/5713670/179755429-97e01d04-e9b7-4cc8-9ff6-4baf857e2205.png">

### Suggested solution

My thought is to replace the

[2022-07-19 16:10] #87 closed

[2022-07-19 20:40] bdougie opened #214 "Bug: Move SVGs out of the public folder"
### Describe the bug

SVGs should be added inline to the assets folder - https://github.com/open-sauced/hot/tree/main/src/assets. We run release build and the public folder is skipped from consideration during that process

![Screen Shot 2022-07-19 at 1 39 44 PM](https://user-images.githubusercontent.com/5713670/179844180-1cffdaf6-f60e-4606-8035-889dcc110575.png)

### Steps to reproduce

1. Switch

[2022-07-20 00:51] pixelsbyeryc commented on #209
## What's updating:
- How the navbar will look when scrolled
- What the searchbox will look like in the navbar

### How the navbar will look when scrolled

- [Figma Link](https://www.figma.com/file/z0LEHrTwmvuCokhbYmIhPd/OpenSauced-%E2%80%94-Hot-(hot.opensauced.pizza)?node-id=212%3A376): You can inspect the CSS and styles from here
- [Figma Prototype](https://www.figma.com/proto/z0LEHrTwmvuCokhbYm

[2022-07-20 01:01] pixelsbyeryc commented on #209
@bdougie do we need designs for the search results as well?

[2022-07-20 06:35] shamimbinnur commented on #214
does it 64ba1749efe1500e84f5ab088fbf4442b0777786 fixes this issue ?

[2022-07-20 06:36] shamimbinnur commented on #214
@bdougie does it 64ba1749efe1500e84f5ab088fbf4442b0777786 fixes this issue ?

[2022-07-20 06:36] shamimbinnur commented on #214
@bdougie does it 64ba1749efe1500e84f5ab088fbf4442b0777786 fixe this issue ?

[2022-07-20 06:36] shamimbinnur commented on #214
@bdougie does it 64ba1749efe1500e84f5ab088fbf4442b0777786 fix this issue ?

[2022-07-20 18:59] pixelsbyeryc commented on #209
Implementation: #201

[2022-07-20 18:59] #209 closed

[2022-07-20 18:59] bdougie commented on #209
We have existing UI for that, that matches. Better to implement that and address it when we do a further discovery on the design.

[2022-07-20 19:00] pixelsbyeryc commented on #201
@shamimbinnur @bdougie do we have the **search results** box, or should I create the designs for that as well?

[2022-07-20 19:15] shamimbinnur commented on #201
@pixelsbyeryc We already have the mockup for that, as you can see on the preview deployment(Not completed yet)
But I believe you can come up with a great design for this 😊

[2022-07-21 15:13] bdougie commented on #204
Note that this has been approached by @hokagedemehin in https://github.com/open-sauced/hot/pull/216. Though it could use some polish with animation.

Whoever ends up picking this, keep that in mind.

[2022-07-22 14:45] #211 closed

[2022-07-22 17:51] bdougie opened #218 "feature: Implement voting function in Hot section"
note: We have a function to make this work. This placeholder does not follow that pattern. Despite this being mocked data, we could still makes this work live.

_Originally posted by @bdougie in https://github.com/open-sauced/hot/pull/216#discussion_r927049498_

[2022-07-22 18:54] KrisMannino opened #220 "Design: Icon overlaps in mobile view"
![B55B2723-D231-4AA4-B064-DF9F98DF9D0C_4_5005_c](https://user-images.githubusercontent.com/9039234/180468731-845808c4-2bab-4bd3-87ea-35aa91e741fb.jpeg)

in mobile view pizza icon overlaps the user dropdown menu

_Originally posted by @KrisMannino in https://github.com/open-sauced/hot/issues/216#issuecomment-1192670375_

[2022-07-22 19:11] KrisMannino opened #221 "Feature: Collapsible menu for Hot Cards in mobile view"
### Type of feature

🍕 Feature

### Current behavior

In mobile view after selecting a menu option you have to scroll down a page and a half past the Hot Cards in order to view the associated repositories.
![8097DC08-9A22-4B12-834F-90CA8407FAA0_1_102_o](https://user-images.githubusercontent.com/9039234/180507142-5628d9db-e55b-4011-9d2a-bf0da9b3347b.jpeg)

### Suggested solution

Implement a collap

[2022-07-22 20:49] pixelsbyeryc commented on #201
@shamimbinnur let's go with the mockup we already have then, and if need be, we can open another issue to cover for that. Thank you! 🚀

[2022-07-22 21:01] 0-vortex commented on #214
Please don't close issues as completed before they hit the `main` branch. https://github.com/open-sauced/release is taking care of that for us, given we create proper pull requests 🍕

[2022-07-22 22:01] hokagedemehin commented on #218
Hi @bdougie

If I may ask, is the code block below the function you are talking about??

[code]

[2022-07-22 22:02] bdougie commented on #218
Yes

[2022-07-22 22:08] hokagedemehin commented on #218
Great

will make the needed changes on the hot repositories section

[2022-07-22 22:46] 0-vortex commented on #131
This is handled by https://github.com/open-sauced/api.opensauced.pizza/issues/5 and the table structure is added in there

[2022-07-22 22:46] #131 closed

[2022-07-22 22:55] NsdHSO opened #222 "Bug: data about user are printed in console"
### Describe the bug

Data about user ar printed after logged in app

### Steps to reproduce

1. Go to https://beta.hot.opensauced.pizza/#
2. Open console `cmd+opt+i`
3. Log in
4. You will see this things

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome, Firefox, Safari, Edge, Opera

### Environment

Development

### Additional context

introduced in https

[2022-07-22 22:58] bdougie commented on #222
This should be removed https://github.com/open-sauced/hot/blob/beta/src/components/PrimaryNav.tsx#L215

[2022-07-22 23:00] 0-vortex opened #223 "Bug: wrong types"
### Describe the bug

Navigation props and Supabase types are set to `any` and defined in some cases as types instead of property interfaces or defined as interfaces and not exported properly

### Steps to reproduce

1. Clone the project
2. Search the code for `eslint-disable` or `: any`

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### En

[2022-07-22 23:01] NsdHSO commented on #222
.take

[2022-07-22 23:10] 0-vortex opened #224 "Bug: PrimaryNav and useSupabaseAuth collision"
### Describe the bug

`PrimaryNav.tsx` is hosting multiple components that are not based on screen size, coupled in the same file for the `useSupabaseAuth` argument passing - this has no inherent benefit and is creating a lot of duplication.

These components should be split into multiple files following the existing code structure and the hooks don't need to be passed around, effectively removing

[2022-07-22 23:12] 0-vortex commented on #214
There are still 2 images left over:
- https://github.com/open-sauced/hot/blob/beta/public/gradBG.svg
- https://github.com/open-sauced/hot/blob/beta/public/openSauced.svg

[2022-07-22 23:16] 0-vortex opened #225 "Bug: fonts loaded in static html"
### Describe the bug

Google fonts are loaded via `public/index.html`, they should be bundled statically, either via npm or via a vite plugin like https://github.com/stafyniaksacha/vite-plugin-fonts

### Steps to reproduce

1. Clone the repository
2. Check out `index.html`

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No

[2022-07-22 23:24] hokagedemehin commented on #218
I get this error in my chrome dev tools whenever I try to upvote any of the repos.

The numbers will increase and upon refreshing of the page, it will return back to the default

![Screenshot 2022-07-23 000757](https://user-images.githubusercontent.com/16826624/180580071-75f8e075-cd6d-427a-85fd-050d0114e73b.png)

[2022-07-22 23:32] 0-vortex opened #227 "Bug: incorrect gradient tearing based on screen size"
### Describe the bug

The gradient is loaded as a sized svg image but not scaled properly and it includes the drop shadow as well, depending on platform and screen size this can lead to tearing or inconsistent UI.

Ways to improve this:
- scale the [public/gradBG.svg](https://github.com/open-sauced/hot/blob/beta/public/gradBG.svg) background correctly into multiple css properties
- replace with cs

[2022-07-22 23:43] 0-vortex commented on #218
This one is for me, will check it out now!

[2022-07-22 23:56] NsdHSO commented on #223
.take

[2022-07-23 14:15] bdougie opened #228 "Refactor: Replace custom hooks with rooks"
### Type of feature

🧑‍💻 Refactor

### Current behavior

We are using a custom hook for search, but @0-vortex called out the existence of this [package](https://react-hooks.org/docs/useDebounce).

https://github.com/open-sauced/hot/pull/215/files/a6d040095b2eed6863dd527596d00bebb9ceea4b#r928032778

### Suggested solution

1. Replace the [useDebounce](https://github.com/open-sauced/hot/blob/ui-v3-h

[2022-07-25 03:24] ddsuhaimi opened #229 "Bug: no key is included in each menu in SecondaryNav"
### Describe the bug

![image](https://user-images.githubusercontent.com/30659198/180692919-b5d11a25-8a05-4bd9-8bc2-305e4865cd5b.png)

Per react [docs](https://reactjs.org/docs/lists-and-keys.html), a key should be added if we render a list.

### Steps to reproduce

1. Clone the repository
2. Start the app locally
3. Check out developer console

### Affected services

hot.opensauced.pizza

### Pla

[2022-07-25 03:27] ddsuhaimi commented on #205
Just wanna recommend a package, I use [react-hot-keys](https://www.npmjs.com/package/react-hot-keys) in one of my projects and it works well so far.

[2022-07-25 03:39] shamimbinnur commented on #203
@bdougie @pixelsbyeryc  how many cards will be shown here as initially? Don't we need a button to load more cards?
We will be fetching cards and showing up right in this section? Or will we send users to different routes/pages to show all the cards in there?

[2022-07-25 03:48] 0-vortex commented on #229
Thanks for adding this in, however it's a duplicate of #222 - will close this as it has been released on beta branch!

[2022-07-25 03:48] #229 closed

[2022-07-25 16:05] bdougie opened #230 "Feature: Check if the user has voted on the repo"
### Type of feature

🍕 Feature

### Current behavior

This https://github.com/open-sauced/hot/pull/216 introduces the new UI to show if the user has voted. Currently the app does not have a function to check votes based on repo and user id.

### Suggested solution

Create a function that checks the API if the user has already voted on the repo on load. this will eventually need to be cached in a g

[2022-07-25 18:26] pixelsbyeryc commented on #203
@shamimbinnur In the conversations I had with @bdougie, we were going to work similarly to ProductHunt, it might make sense to keep fetching the cards as the user scrolls.

So we have 2 options:
1. They can search for a specific repo
2. They can browse the timeline of repos

Now, we have other questions:
- How will we order the repos every week? What's the criteria for them to show up at the top e

[2022-07-25 21:09] NsdHSO commented on #220
.take

[2022-07-25 21:32] hokagedemehin commented on #228
.take

[2022-07-25 22:09] hokagedemehin commented on #228
hello @bdougie @0-vortex  👋🏽

I think I might have worked out something for this issue but want to be sure which branch you want me to make my PR to 🧍🏽‍♂️

main or beta ❔❔

[2022-07-25 22:11] bdougie commented on #228
I would do this on beta since that has a number of upcoming updates.

[2022-07-25 23:37] #220 closed

[2022-07-26 10:48] 0-vortex commented on #224
.take

[2022-07-26 11:04] 0-vortex commented on #203
We have the backend capable of producing pagination in the form of:
[code]

IMHO the most user friendly mechanism I envision is to create a top-fixed or bottom-padded client pagination, then add a function to click the next/prev page on scroll and advance the page without any invisible elements or the user being unable to quickly access filters.

Why not best of both worlds? 🍕

[2022-07-26 11:14] 0-vortex commented on #225
.take

[2022-07-26 15:22] 0-vortex commented on #133
https://github.com/open-sauced/hot/issues/134 is technically existing but maybe it doesn't have all the infos we need

[2022-07-26 16:15] shamimbinnur commented on #203
I can think infinite scrolling can be a barrier to reaching out to the next component below the "Post List" component. We may have to add more components(ex. footer) below that in the future.

[2022-07-26 18:27] 0-vortex commented on #203
We can work around that by using a holy grail kind of layout and only scrolling the middle section. The more modern approach to that is https://layout.bradwoods.io but I am also happy to suggest old-school IE6 positioning techniques.

The pagination would act the same way, padding fixed spaced on top of the already padded body/footer space 🍕

[2022-07-26 23:30] #214 closed

[2022-07-26 23:30] #222 closed

[2022-07-26 23:30] #224 closed

[2022-07-26 23:30] #225 closed

[2022-07-26 23:30] #200 closed

[2022-07-26 23:35] #223 closed

[2022-07-26 23:39] #201 closed

[2022-07-26 23:39] #202 closed

[2022-07-27 03:34] bdougie opened #236 "bug: My Votes appears as an non-clickable link in the nav."
![028580BF-664C-4B63-BE24-45D5173AC749_4_5005_c](https://user-images.githubusercontent.com/9039234/180482402-274c25d4-3da0-4da9-8398-efd60469b876.jpeg)

after signing in an unlinked "My Votes" text appears next to the title, disappears after log-out (N/A in mobile)

_Originally posted by @KrisMannino in https://github.com/open-sauced/hot/issues/215#issuecomment-1192741611_

## Solution

Delete thi

[2022-07-27 03:47] bdougie opened #237 "Bug: Submit button z-index does is below the hot repos."
### Describe the bug

<img width="394" alt="Screen Shot 2022-07-26 at 8 39 59 PM" src="https://user-images.githubusercontent.com/5713670/181155890-36cb0dbb-1a22-4b49-8722-225b20eab65b.png">
<img width="387" alt="Screen Shot 2022-07-26 at 8 39 47 PM" src="https://user-images.githubusercontent.com/5713670/181155902-b0862dc6-1520-4aae-a3e7-2e77a9dc7bf7.png">

The easy solution is add z-index, but I a

[2022-07-27 06:54] thomasmcg77 commented on #236
.take

[2022-07-27 07:16] ddsuhaimi commented on #206
.take

[2022-07-27 07:30] ddsuhaimi opened #240 "Bug: Hero background doesn't cover full width on 2K resolution screen"
### Describe the bug

![image](https://user-images.githubusercontent.com/30659198/181187926-3b1155c3-dcf3-45da-8ec1-fe701aa9a39f.png)

### Steps to reproduce

1. Open https://hot.opensauced.pizza/

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Production

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follo

[2022-07-27 07:44] ddsuhaimi commented on #240
Seems like it is a duplicate of #227,

[2022-07-27 07:44] #240 closed

[2022-07-27 08:49] #228 closed

[2022-07-27 11:47] shamimbinnur commented on #203
#242

[2022-07-27 11:49] ddsuhaimi commented on #205
@bdougie I can work on this one, but what do you mean by opening the search box? the input should just be focused when user  press CTRL + K right?

[2022-07-27 14:38] Ryankolsen commented on #237
.take

..if you don't mind, I'll try it! if I can't figure a better way I'll do the z-index.

[2022-07-27 14:57] pixelsbyeryc opened #243 "Bug: Fonts are not loading properly"
### Describe the bug

The fonts are not loading for me, here's the error:

[code]

**How it looks:**

![Screen Shot 2022-07-27 at 11 51 19 AM](https://user-images.githubusercontent.com/101464991/181278695-ccea1405-9a8f-4305-bc73-da41d30ea1e2.png)

**How it should look:**

![Screen Shot 2022-07-27 at 11 54 41 AM](https://user-images.githubusercontent.com/101464991/181279484-bbb3b64c-a4d5-4a36-b9cf-

[2022-07-27 15:17] pixelsbyeryc opened #244 "Bug: Featured cards are missing styles from the design"
### Describe the bug

There are some contrast/legibility issues with the current layout. Some of the text is very small, and doesn't have a good `font-weight` to compensate. Some are calling too much attention for not having a subtler color.

#### Here are the differences in style:
- [x] Outer `border-radius` is `8px`. **Should be `16px`, or `1rem`.**
- [x] Organization name:
  - [x] `font-size` i

[2022-07-27 15:18] bdougie opened #245 "Feature: title in the card should link to app.opensauced.pizza"
### Type of feature

🍕 Feature

### Current behavior

When viewing the card, nothing is linked. The expectation is that title should link to the app.

i.e. app.opensauced.pizza/repos/${data.full_name}

### Suggested solution

The [mocked data](https://github.com/open-sauced/hot/blob/main/src/components/HotRepositories.tsx#L18) is incorrect and should provide the repo full name too. The full name i

[2022-07-27 15:25] bdougie opened #246 "Feature: Hot repositories should fetch real data from the API"
### Type of feature

🍕 Feature

### Current behavior

The Hot Repo component is static content. This was done to focus on the UI, but all this data is available in the API. The static content should get replaced with live data.

### Suggested solution

Keep the static of repo ids, but fetch all live data from the APi.

[code]

A new single or grouped repo fetch function is needed. The fetch should

[2022-07-27 15:28] bdougie opened #247 "bug: Remove this dead link from the collapsible hamburger menu on mobile"
Please also remove this dead link from the collapsible hamburger menu on mobile:

<img width="314" alt="Screenshot 2022-07-27 at 10 41 09" src="https://user-images.githubusercontent.com/237133/181202856-d95f89d4-cc9a-4603-a1ef-808a09242dd9.png">

_Originally posted by @0-vortex in https://github.com/open-sauced/hot/issues/238#issuecomment-1196433327_

[2022-07-27 15:45] hokagedemehin commented on #245
.take

[2022-07-27 15:49] shapaaa commented on #244
Hi @pixelsbyeryc
Can I take this issue?

[2022-07-27 16:17] pixelsbyeryc commented on #244
Hey @shapaaa! Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-07-27 16:50] #236 closed

[2022-07-27 16:53] 0-vortex commented on #243
I noticed these console issues when bundling, however the font settings were implemented in another PR - will read on tailwind and google fonts preloading, hopefully I can support getting this fixed quickly! 🍕

[2022-07-27 16:59] bdougie commented on #218
I believe this works based on the #216 merge. It did introduce this bug https://github.com/open-sauced/hot/issues/230

[2022-07-27 16:59] #218 closed

[2022-07-27 17:01] 0-vortex commented on #230
It is possible to do this by filtering the `myVotes` array and checking if the 3 hot repo ids exist inside your repo votes

[2022-07-27 17:08] 0-vortex commented on #205
We have the `rooks` package installed, this ticket should be an implementation of https://react-hooks.org/docs/useKeyBindings linking the `cmd/ctrl+k` shortcut to the existing event handler on the search box 🍕

[2022-07-27 17:10] #237 closed

[2022-07-27 20:10] #245 closed

[2022-07-27 20:11] bdougie commented on #230
This is a great approach.

[2022-07-27 20:12] bdougie commented on #134
This appears to be done.

[2022-07-27 20:12] #134 closed

[2022-07-27 21:30] bdougie commented on #244
@pixelsbyeryc I don't think the figma viewable for folks outside of open sauced. Can you double check.

[2022-07-27 22:05] pixelsbyeryc commented on #244
I made it public @bdougie @shapaaa! ✌️

[2022-07-27 22:13] bdougie opened #251 "Bug: Popular text is not aligned"
### Describe the bug

![Screen Shot 2022-07-27 at 3 12 36 PM](https://user-images.githubusercontent.com/5713670/181381704-9e49b378-c10d-4f93-992d-0f79933e0dc9.png)

shout to Bajosi

### Steps to reproduce

Please to fix

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Production

### Additional context

_No response_

### Code of Conduct

[2022-07-28 00:44] Ryankolsen commented on #251
.take

[2022-07-28 04:27] AlexBurneikis commented on #251
The reason that this is occurring is because space-y-2 applies space between elements in the flex row so it tries to put it above only the elements that have something above them. This can be fixed by removing the space-y-2 and applying a spacing in another fashion. Fix coming soon!

[2022-07-28 05:07] #251 closed

[2022-07-28 05:08] bdougie commented on #251
closed on #253

[2022-07-28 05:45] ddsuhaimi commented on #205
@0-vortex I see, just to confirm. If user press cmd/ctrl+k then the search box will open up like this, right? So user can type immediately.

![image](https://user-images.githubusercontent.com/30659198/181429658-f26bd676-c1a3-4ce2-87ea-a72a4f227ab7.png)

[2022-07-28 11:54] #206 closed

[2022-07-28 12:01] #247 closed

[2022-07-28 12:02] 0-vortex commented on #196
This is solved by `rooks`

[2022-07-28 12:02] #196 closed

[2022-07-28 12:04] 0-vortex opened #255 "Bug: list display shows wrong results on initial load"
### Describe the bug

Refreshing the page on any of the URLs doesn't filter the initial repository list display, defaulting to most popular repos instead of the route `activeLink`

### Steps to reproduce

1. Visit https://hot.opensauced.pizza/myVotes
2. You see the most popular repositories instead of your own votes

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Br

[2022-07-28 12:24] shamimbinnur commented on #205
@ddsuhaimi this issue is already assigned to me :)

[2022-07-28 12:31] 0-vortex commented on #205
I don't see a problem with 2 people working on the same issue, as long as they coordinate accordingly. I see you have an open PR @shamimbinnur, do you have any work done on this issue?

If not, it would be best to let someone else do it if they are willing to, in order to discourage a "dibs" like scenario. We want to prevent scope creeping and as such, we generally assign 1 issue at a time unless

[2022-07-28 12:50] shamimbinnur commented on #205
@0-vortex I was working on this issue while I was working on the hero. But as this issue was asked to solve on separate PR. I stopped there and waited to be merged. No problem if @ddsuhaimi takes this over now.

[2022-07-28 13:19] hokagedemehin opened #256 "Bug: Broken design on very large screens"
### Describe the bug

On large screens, the nav bar keeps expanding out of their positions. There should be a max width set for the nav bar as we have the same restriction on other contents on the page. Also, the hero's background color should also extend and cover its space just like the hot repositories section

### Steps to reproduce

1. Go to [https://hot.opensauced.pizza/](https://hot.opensau

[2022-07-28 14:04] shapaaa commented on #244
.take

[2022-07-28 14:19] sadiejay commented on #243
.take

[2022-07-28 15:18] 0-vortex commented on #256
Very good catch! ❤️

[2022-07-28 15:28] sadiejay commented on #243
Hi! I'm not sure where to start to tackle this one, but I'll poke around in my fork and see what happens!

[2022-07-28 15:44] hokagedemehin opened #257 "Feature: Missing login flow that disrupts the voting logic"
### Type of feature

🍕 Feature

### Current behavior

when you log in at [https://hot.opensauced.pizza/](https://hot.opensauced.pizza/) using your Github, everything should work fine except the voting logic.

If you tried to upvote any of the repo, the number will increase but the information is not sent to the database. Below screenshot is the error you will get in your console
![Screenshot 2022-

[2022-07-28 15:50] 0-vortex commented on #257
Great catch, that is indeed the reason it doesn't work by simply logging in and voting - having gone through the app.opensauced.pizza flow we have an installation id and explicit consent to backfill some public data available via the github api.

The correct long term fix would be to enroll users on login with "hasOpenSaucedInstalled: false", giving everyone the ability to vote - this will likely

[2022-07-28 16:14] pixelsbyeryc commented on #243
@sadiejay Here are more instructions from my devtools:

Maybe that will help guide you 🙏

[2022-07-28 18:34] hokagedemehin commented on #255
.take

[2022-07-28 18:54] NsdHSO commented on #256
I think the designer should to did some change here. Because after you see how it is draw, how is it right now implemented is correct
![Screenshot 2022-07-28 at 21 52 28](https://user-images.githubusercontent.com/37635083/181615688-327edc5c-6df7-471c-86f1-2a1fe58e936b.png)

I think this issue it is true if @bdougie  decided to go in this diection

[2022-07-28 19:30] 0-vortex commented on #256
That gradient should be translated from a SVG into CSS properties or scaled correctly with `background-size: contain` tailwind equivalents! 🍕

[2022-07-28 19:54] 0-vortex commented on #243
[In the `vite.](https://github.com/open-sauced/hot/blob/a0f1162af9873f2d39863ce180d039fc6caabede/vite.config.ts#L68)

This line should be `Lexend`, that will fix the hero fonts

[2022-07-28 19:58] 0-vortex commented on #243
Scratch that, the correct fix is this:

[code]

It was missing `wght@` keyword ... my bad 🍕

[2022-07-28 21:41] KrisMannino opened #258 "Bug: hot repos stay upvoted when not signed in"
### <span aria-hidden="true">✅</span> Deploy Preview for *hot-sauced-ui* ready!

|  Name | Link |
|---------------------------------|------------------------|
|<span aria-hidden="true">🔨</span> Latest commit | d60a3ce6e361f139357b9660ed9881efc722e9e8 |
|<span aria-hidden="true">🔍</span> Latest deploy log | https://app.netlify.com/sites/hot-sauced-ui/deploys/62e2c03bfe7cbd0008c93a23 |
|<span aria-h

[2022-07-28 21:45] KrisMannino commented on #258
![9DD87370-1517-4CF3-A0D1-22082EF9CFE8_1_105_c](https://user-images.githubusercontent.com/9039234/181642804-e8865d82-a5d7-4e6a-b5c6-dc5fbab91c5a.jpeg)
hot repos stay upvoted when the app is loaded
signing in and signing back out has no effect on whether they are voted or not

[2022-07-28 21:49] KrisMannino commented on #258
#252

[2022-07-28 23:08] #230 closed

[2022-07-29 04:55] ddsuhaimi commented on #205
@shamimbinnur oops sorry, didn't realize it was taken already

okay, I will work on this

[2022-07-29 08:24] #246 closed

[2022-07-29 08:29] 0-vortex commented on #258
:tada: This issue has been resolved in version 2.15.1 :tada:

The release is available on:
- [GitHub release](https://github.com/open-sauced/hot/releases/tag/v2.15.1)
- [ghcr.io container (@latest dist-tag)](https://ghcr.io/open-sauced/hot)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-29 08:29] #258 closed

[2022-07-29 08:37] 0-vortex opened #259 "Bug: incorrect search box z-index"
### Describe the bug

Search box results z-index is below the hot repositories

### Steps to reproduce

1. Go to https://hot.opensauced.pizza
2. Search for any repository
3. See the avatars stomp the search box:

<img width="455" alt="Screenshot 2022-07-29 at 10 35 47" src="https://user-images.githubusercontent.com/237133/181719448-3f82704a-fde4-4ac0-9f94-da1e86f77e9e.png">

### Affected services

[2022-07-29 09:30] NsdHSO commented on #259
.take

[2022-07-29 09:30] NsdHSO commented on #256
.take

[2022-07-29 09:42] 0-vortex commented on #256
Hey there, i saw you took on a couple of issues at a time - please assign yourself to the issue you plan on working next, and, if there's anything else you want to do, announce that on the issue and maybe share some knowledge with other interested contributors.

To dismiss an unfair spirit of competition, we only assign 1 unit worth of work at a time and compete towards supporting ongoing contribu

[2022-07-29 14:18] 0-vortex opened #261 "Bug: hot repositories section avatars are too big"
### Describe the bug

Make the [Avatar component](https://github.com/open-sauced/hot/blob/main/src/components/Avatar.tsx) resizable so it can take the initial 5px size described in the design:

<img width="427" alt="Screenshot 2022-07-29 at 16 14 26" src="https://user-images.githubusercontent.com/237133/181779704-06beb3b6-a6fd-4ca4-b8ea-4ee87a1702c0.png">

### Steps to reproduce

1. Go to https://

[2022-07-29 14:24] 0-vortex opened #262 "Bug: correct global z-index fix"
### Describe the bug

Z-index needs to be applied to positioned top-level containers in the order of overlap:
- header: 3
- content: 2
- footer: 1

Some of the items that exist, that are positioned inside the above containers, like the avatar image, need to also be fine-tuned when hard-coding them wasn't needed.

### Steps to reproduce

1. Go to https://hot.opensauced.pizza
2. Hover over the middl

[2022-07-29 14:25] 0-vortex commented on #227
Fixed by #256

[2022-07-29 15:01] bdougie commented on #261
Is this a duplicate of #204? The PR that implemented this did not fully implement this feature.

Also #242 has a better implementation. Whatever is done should be reused.

[2022-07-29 15:04] 0-vortex commented on #261
There were some markup changes required when switching from static hot repos to database ones, I replaced the avatar imgs with the Actual avatar component, which is hard-sized right now.

If that PR updates the avatar component then it should merge with main to get the updated visual changes from upstream 🍕

[2022-07-29 21:27] bdougie opened #263 "Bug: IMHO, I think the nav should have a certain max width and not always expand out based on the screen size."
@NsdHSO I agree with @hokagedemehin... Having a `max-width` will contain the contents, and help it look good on bigger screens. Our eyes scan from side to side, so imagine on a ultra-wide 49" monitor how it'd be to scan across.

But as @bdougie, we can move on and open another issue specifically for this. 🙌

**Suggested `max-width`:** 1024px, 1280px, or 1440px... It could even be a combination of

[2022-07-29 21:28] bdougie commented on #263
@NsdHSO if you are interested, feel free to grab.

[2022-07-29 21:29] #256 closed

[2022-07-30 05:51] 0-vortex commented on #227
This was not fixed by #256 ...

[2022-07-30 10:10] bdougie opened #265 "Feature: Add contributors to the search results"
### Type of feature

🍕 Feature

### Current behavior

Currently:
<img width="604" alt="Screen Shot 2022-07-30 at 3 00 00 AM" src="https://user-images.githubusercontent.com/5713670/181905395-bd4310a9-5d37-4382-8d99-f03f7a657f2a.png">

Before:
<img width="640" alt="Screen Shot 2022-07-30 at 3 02 20 AM" src="https://user-images.githubusercontent.com/5713670/181905436-bf7d5b93-a4c5-41de-babb-388c52f51

[2022-07-30 11:01] bdougie opened #266 "style fix: Making the gradient text classes more intuitive would be nice:"
Making the gradient text classes more intuitive would be nice:
- `headerTextGradientStart/headerTextGradientMiddle/headerTextGradientEnd` - 👎
- `headerTextGradient0/headerTextGradient50/headerTextGradient100` - 👍

However, this is the wrong approach as we do not have the colors available as (actually) re-usable classes, we should create the gradient based on existing theme colors, rather than crea

[2022-07-30 11:39] bdougie commented on #213
Going to punt on this. The solution is to filter the current list for now.

[2022-07-30 11:39] #213 closed

[2022-07-30 11:49] bdougie opened #267 "Feature: Remove tailwinds anti-pattern"
### Type of feature

🧑‍💻 Refactor

### Current behavior

Through out the app we are using hard-coded px
[code]

### Suggested solution

We need to use the design system provided by Tailwind or provide variables.

[code]

### Additional context

Please work on each file independently. Do not open a PR for all files, but one file per PR to avoid merge conflicts.

- [x] #314
- [x] #315
- [x] #316
- [

[2022-07-30 12:45] bdougie commented on #267
Fonts were switch in the PostList in this PR #242

[2022-07-30 13:29] #203 closed

[2022-07-30 13:29] #261 closed

[2022-07-30 13:29] #204 closed

[2022-07-30 16:34] bdougie commented on #221
I think a simpler approach is adding a horizontal scroll.

[code]
<img width="400" alt="Screen Shot 2022-07-30 at 9 23 42 AM" src="https://user-images.githubusercontent.com/5713670/181926150-e591abf9-170d-475f-9e40-cb8018bb1a15.png">

The tailwind classes to add [here](https://github.com/open-sauced/hot/blob/main/src/components/SecondaryNav.tsx#L39) would something like this:

[code]
This is a gue

[2022-07-30 16:42] bdougie commented on #263
I think we can add the following to the [PrimaryNav className](https://github.com/open-sauced/hot/blob/main/src/components/PrimaryNav.tsx#L15) and call it a day. Test it out though.
[code]

This is how @hokagedemehin did it [in the HotRepositories](https://github.com/open-sauced/hot/blob/main/src/components/HotRepositories.tsx#L69) and I think it is a good approach.

[2022-07-30 16:55] hokagedemehin commented on #263
.take

[2022-07-30 17:37] bdougie opened #270 "Feature: Suspense or SWR? Anticipate loading content"
### Type of feature

🔥 Performance

### Current behavior

When loading from the API the screen presents empty space. Ideally, we would provide a loading component but I also think adding something SWR would make sense. We are doing both in app.opensauced.pizza - [LINK to that](https://github.com/open-sauced/open-sauced/blob/93654fb65801283385cc423a3e04caced0353db0/src/lib/hooks.js)

Open to sugges

[2022-07-30 18:44] #263 closed

[2022-07-30 18:45] #205 closed

[2022-07-30 18:59] KrisMannino commented on #221
.take

[2022-07-30 19:27] shamimbinnur commented on #267
Going to take this over.

[2022-07-30 19:51] 0-vortex opened #271 "Bug: dedupe handleVoteUpdateByRepo function"
### Describe the bug

Any part of the website that can be used to vote requires posthog and as such the `handleVoteUpdateByRepo` function should be deduplicated and moved to the lib folder.

### Steps to reproduce

Duplicated code exists in:
- [ ] `PostList.tsx`
- [ ] `PostGrid.tsx`
- [ ] `HotRepositories.tsx`

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

[2022-07-31 05:51] CMCSWEENE commented on #263
.take

[2022-07-31 06:14] CMCSWEENE opened #272 "Bug: my votes array needs global caching and display feedback"
### Describe the bug

once signed in with get up, clicking on the upvote button cause page to glitch. After pressing upvote multiple time it works and changes from upvote to vote.

### Steps to reproduce

1. Go to https://hot.opensauced.pizza
2. Vote on a repository that doesn't exist in https://hot.opensauced.pizza/myVotes
3. Refresh page
4. Vote on the previously voted repository that doesn't in

[2022-07-31 09:40] 0-vortex commented on #272
Thanks for catching this, my votes array needs to be cached somehow, either globally or as a hook, it is currently being digested inside `HotRepositories.tsx`. The `voted` icon should also reflect whether a user has voted or not, to remove the possibility of failure! 🍕

[2022-08-01 17:47] bdougie opened #275 "Style: Add color variables for dark mode."
### Type of feature

🎨 Style

### Current behavior

We are approaching a path where decisions color naming continue move in different directions based on PR. We should centralize on a standard convention. in the new product we are working on (insights), we have made the decision on variable naming and dark mode conventions.

### Suggested solution

Add these to the tailwind config. all slate and g

[2022-08-01 18:59] NsdHSO opened #276 "Feature: react loading skeleton"
### Type of feature

🍕 Feature

### Current behavior

Affect all the repo. The sooner, the better.

### Suggested solution

In open-sauced we have `react-loading-skeleton` for the user It would be nice to implement this feature in hot to avoid 'break the app' [open-sauced](https://github.com/open-sauced/open-sauced/blob/main/package.json#L56)

### Additional context

_No response_

### Code of Con

[2022-08-01 20:26] 0-vortex commented on #276
I would prefer we first implement something like [useAsync](https://usehooks.com/useAsync/) and then focus on this issue, which is improving the visual feedback of the async functions. Most of the hot open sauced content relies on data fetching:
- hot repositories
- my votes
- list repositories

Having a standardized UI vs data loading async distinction we can then apply nice skeletons using the p

[2022-08-02 03:13] ddsuhaimi commented on #265
.take

[2022-08-02 03:15] ddsuhaimi commented on #265
@bdougie how many avatar at max can be displayed? 3? Is this OK?
![image](https://user-images.githubusercontent.com/30659198/182284231-c7b95651-f4a7-4a92-8daf-67cee074eb9a.png)

[2022-08-02 05:42] shamimbinnur commented on #267
@bdougie As, it's the changes for the whole project, what do you about breaking these issues into separate issues and PR?

[2022-08-02 06:20] NsdHSO commented on #276
I don't think in this way, because this feature should be implemented with/without `useAsync`.  But please create a new ticket with this hook.

[2022-08-02 06:41] NsdHSO commented on #259
@0-vortex  I think z-index is good, but I give him a shadow, to make little bit differences about hot repo. I need opinion from @pixelsbyeryc  If this looks good, I can did PR.

[2022-08-02 11:44] 0-vortex commented on #259
There are 20+ tickets open, can you please pick up one of the existing issues rather than scope creep on design?

We have actual bugs that need fixing, many and small. You cannot define global patterns for shadows so implementing them as part of 1 component is just way of creating inconsistent design.

Also this would count the 3rd time somebody starts to figure out the zIndex issue just to leave

[2022-08-02 12:01] 0-vortex commented on #276
You opened the ticket up as a feature, in the sense of feature design, it's something worth discussing. If it is not a feature and just a style: improvement there's not much to talk about and you could just as well screenshot what you are experimenting with as a proposal.

Was also hoping triaging issues could be done as a group effort rather than breaking it apart into multiple issues we are not

[2022-08-02 12:03] 0-vortex commented on #267
A lot of this is done in #269 - if you wait for that to get merged in this ticket doesn't need to be broken up into smaller pieces, just search and replace! 🍕

[2022-08-02 13:13] bdougie commented on #276
FWIW, Suspense and useAsync are related to loading skeletons.

As mentioned in this issue, https://github.com/open-sauced/hot/issues/270, this is already a solved problem in [app.opensauced.pizza](https://github.com/open-sauced/open-sauced).

This is a duplicate of my issue, but not a big deal if this is the place to discuss the implementation. Is this something you are looking to test out @NsdHSO

[2022-08-02 13:15] bdougie commented on #276
NVM I see your PR

[2022-08-02 13:30] shamimbinnur commented on #267
@0-vortex  what's the best thing I can do right now?

[2022-08-02 14:34] bdougie commented on #259
I think the z-index thing was already solved here when the contributors were fixed in the hotrepositories component in this PR https://github.com/open-sauced/hot/pull/242

To be fair, the shadow is needed since the search box blend awfully with the next section. I brought him up on stream on Friday. But to @0-vortex point, this is indeed some scope creeping on the original focus of the bug. Please

[2022-08-02 14:34] #259 closed

[2022-08-02 17:29] ddsuhaimi opened #279 "Bug: Left-most avatar get overlapped during hover"
### Describe the bug

![image](https://user-images.githubusercontent.com/30659198/182437072-1625ca4f-7253-42fa-8c96-d68367675960.png)

### Steps to reproduce

1. Go to [https://hot.opensauced.pizza/](https://hot.opensauced.pizza/)
2. Hover to avatar in repository card

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Production

### Additi

[2022-08-02 18:40] NsdHSO opened #280 "style: shadow at search box from hero"
### Describe the bug

You will not be able to know where is finish the result from search box.
After that:

1. Create fork
2. Should to create a new branch from main.
3. Be sure you have latest changes form [here](https://github.com/open-sauced/hot)
4. Create PR

### Steps to reproduce

1. Open in app
2. press cmd+k

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Br

[2022-08-02 19:19] NsdHSO opened #281 "Feature: added system notification"
### Type of feature

🍕 Feature

### Current behavior

We use `console.log`.
![image](https://user-images.githubusercontent.com/37635083/182454799-36ac5fb1-a1e8-4db5-9a0c-5edcbbbfb638.png)
But we want to avoid this feature. To implement a system message to avoid `console.log`
I wanted to reflect on visual notifications for user

### Suggested solution

Implement some toast notifications like:

- ht

[2022-08-02 19:29] 0-vortex commented on #281
looks like a good first issue!

[2022-08-02 21:54] 0-vortex opened #282 "Bug: correct eslint tooling"
### Describe the bug

Eslint fixing rules works very well after #269 however there are some issues that were hanging for a while:
- vite eslint cache issue
- IDE auto-config for vsc, gitpod, etc

### Steps to reproduce

1. Clone the project
2. Run `npm ci && npm start` in a terminal window/vsc/intellij/etc
3. Introduce a linting error and check the terminal window
4. Correct code linting error and

[2022-08-02 22:05] 0-vortex commented on #267
You can start working on this from the `beta` branch, #269 has been merged in! 🍕 🚀

[2022-08-02 22:05] #78 closed

[2022-08-02 22:32] SunGoldTech commented on #281
I'll work on this feature as a starting point, utilizing react-hot-toast :)

[2022-08-02 22:47] 0-vortex commented on #281
Awesome to hear, please take a look at https://docs.opensauced.pizza/contributing/introduction-to-contributing/#issues to see how to assign this issue to yourself! 🍕

[2022-08-02 22:52] SunGoldTech commented on #281
.take

[2022-08-02 22:54] SunGoldTech commented on #281
Thanks for the heads-up @0-vortex

[2022-08-03 03:45] bdougie commented on #279
@favourite1975 Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-08-03 04:30] #279 closed

[2022-08-03 05:21] bdougie commented on #262
A lot of these elements conflicting with the z-index have been removed in the new design. We may be good on this, and can potentially close it.

[2022-08-03 19:31] NsdHSO commented on #276
For skeleton, I created one demo, to [did](https://gitpodio-createreactapp-ib13co9ba65.ws-eu54.gitpod.io/) this issue `good first issues `

[2022-08-03 19:33] 0-vortex commented on #262
Agreed, if we run into future z-index requirements, the above pattern should be kept, having z-index on the top-most container elements so the children components can successfully overlap markup that is outside of the container viewport! 🍕 🚀

[2022-08-03 19:33] #262 closed

[2022-08-03 21:28] bdougie opened #286 "style: Add the white border to the StackedAvatars component"
![image](https://user-images.githubusercontent.com/5713670/182715427-561eafc7-5086-4289-9f74-149e1c1c87db.png)

Code lives here:
1. https://github.com/open-sauced/hot/blob/main/src/components/HotRepositories.tsx#L126-L132
2. https://github.com/open-sauced/hot/blob/main/src/components/PostList.tsx#L69-L77
3. https://github.com/open-sauced/hot/blob/main/src/components/Hero.tsx#L108 - not implemented

[2022-08-03 21:36] bdougie opened #287 "Feature: Make the contributors StackedAvatars component reusable"
### Type of feature

🍕 Feature

### Current behavior

The contributor's avatar list has been built 3 times in 3 different places. Let's make this a reusable component.

### Suggested solution

Port this code into one reusable component

https://github.com/open-sauced/hot/blob/main/src/components/HotRepositories.tsx#L126-L132
https://github.com/open-sauced/hot/blob/main/src/components/PostList.tsx#

[2022-08-03 21:46] bdougie opened #288 "Style: Tailwind Config Variables"
### Type of feature

🎨 Style

### Current behavior

This project has a lot of inconsistency with variables in tailwind. We need to first clean up all the hardcode stuff https://github.com/open-sauced/hot/issues/275

Second we can address the variable naming for slate and other colors. https://github.com/open-sauced/hot/pull/274#discussion_r934733469,

### Suggested solution

The Tailwind pattern i

[2022-08-03 21:48] #244 closed

[2022-08-03 21:59] #265 closed

[2022-08-03 22:30] #281 closed

[2022-08-03 22:36] bdougie opened #289 "Feature: Add link to star the project repo"
### Type of feature

🍕 Feature

### Current behavior

When folks navigate to the hot.opensauced.pizza site, folks don't have the option to start the repo. It would be nice to include that.

### Suggested solution

Add this to the Nav (white text on gradient background)
![Screen Shot 2022-08-03 at 3 26 48 PM](https://user-images.githubusercontent.com/5713670/182723758-ae4b57b2-e5e2-488c-829e-5a2abe

[2022-08-03 22:50] SunGoldTech commented on #287
.take

[2022-08-03 23:57] bdougie commented on #289
This addition should link to the github repo

[2022-08-04 00:06] #287 closed

[2022-08-04 00:31] SunGoldTech commented on #271
.take

[2022-08-04 01:40] #182 closed

[2022-08-04 01:40] #188 closed

[2022-08-04 08:32] SunGoldTech commented on #271
having errors related to line breaks after pulling updates from the main repo...
![Screenshot (17)](https://user-images.githubusercontent.com/62995161/182801580-995686f3-a820-4d2d-974c-b0bb422199c9.png)

Can any propose a fix to this? would appreciate

[2022-08-04 09:40] AlexVCS commented on #289
Hey there, I’d like to work on this issue. Can you assign it to me please?

[2022-08-04 09:50] 0-vortex commented on #271
`npm run format` should fix the issur - it's complaining about line endings (which are windows atm). When commiting, git sets them to LF (unix).

This should be a better way to fix it: https://stackoverflow.com/questions/2517190/how-do-i-force-git-to-use-lf-instead-of-crlf-under-windows

[2022-08-04 09:53] 0-vortex commented on #289
Awesome to hear, please take a look at https://docs.opensauced.pizza/contributing/introduction-to-contributing/#issues to see how to assign this issue to yourself! 🍕

[2022-08-04 10:02] SunGoldTech commented on #271
Thanks @0-vortex, you the boss :)

[2022-08-04 13:04] AlexVCS commented on #289
.take

[2022-08-04 21:57] #271 closed

[2022-08-05 01:01] #136 closed

[2022-08-05 01:02] 0-vortex commented on #146
Tracked as individual issues in [api.opensauced.pizza](https://github.com/open-sauced/api.opensauced.pizza) 🍕

[2022-08-05 01:02] #146 closed

[2022-08-05 01:04] 0-vortex commented on #106
We can get the version out of `package.json` with Vite, like we do in the `PrimaryNav` - un-assigning and adding this like a GFI, what do you think @bdougie ?

[2022-08-05 01:08] 0-vortex commented on #168
This can be done now as supabase supports wildcard URLs, however I don't think many people are comfortable making potential necessary changes for all the updates web IDE platforms have received in the last 6 months.

@bdougie you wanna do this one together, get some open sauced reviews on running the repos in web based development platforms? 🍕

[2022-08-05 17:40] Deselikem commented on #286
.take

[2022-08-05 17:47] yhoungdev commented on #289
.take

[2022-08-05 18:37] yhoungdev commented on #286
.take

[2022-08-05 19:04] bdougie commented on #289
Hey @AlexVCS. Apologize, I wrote this issue while on stream. The should be `text-osGrey` and not white.

[2022-08-06 00:21] #243 closed

[2022-08-06 15:59] 0-vortex commented on #270
`.take`

[2022-08-06 17:25] bdougie opened #295 "Feature: Title in the menu needs to be in OpenSans font"
### Type of feature

🐛 Fix

### Current behavior

<img width="176" alt="Screen Shot 2022-08-06 at 10 09 25 AM" src="https://user-images.githubusercontent.com/5713670/183259037-737556c9-5ec2-49d6-be30-4b14873769af.png">

The open sauced landing page has the correct font.

<img width="484" alt="Screen Shot 2022-08-06 at 10 23 37 AM" src="https://user-images.githubusercontent.com/5713670/183259423-29

[2022-08-06 22:41] dinnyscript commented on #295
.take

[2022-08-07 00:43] 0-vortex commented on #276
`.take`

[2022-08-07 16:52] sadiejay commented on #288
.take

[2022-08-07 23:36] 0-vortex commented on #272
`.take`

[2022-08-08 01:17] erum-hassan commented on #295
Is it still open i want to take it.

[2022-08-08 04:56] ddsuhaimi commented on #295
@dinnyscript already took it

[2022-08-08 07:05] Shoetan commented on #295
Hi everyone. is this issue still open ?? Would love to take it.

[2022-08-08 07:19] ddsuhaimi commented on #295
Currently, it's already assigned to @dinnyscript

[2022-08-08 08:51] Shoetan commented on #295
ok thanks

[2022-08-08 21:36] NsdHSO opened #297 "Feature: Loading skeleton in Hero"
### Type of feature

🍕 Feature

### Current behavior

If you search in the search box after one repo, we receive responses 1-2 seconds. I think we should display a skeleton

### Suggested solution

[code]

### Additional context

issue:
fix #297

PR:
#296

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X] I agree to follow this

[2022-08-08 22:42] bdougie commented on #297
not technically a good first issue since it is blocked by another PR.

[2022-08-09 22:56] 0-vortex opened #299 "Feature: replace fetchRecommendations with API calls"
### Type of feature

🧑‍💻 Refactor

### Current behavior

`fetchRecommendations` can't be SWR`d so we need to implement a better strategy for that.

### Suggested solution

Replace `fetchRecommendations` with backend SWR calls

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X] I agree to follow this proje

[2022-08-09 23:00] #270 closed

[2022-08-09 23:00] #272 closed

[2022-08-09 23:00] #276 closed

[2022-08-09 23:01] #221 closed

[2022-08-09 23:34] dinnyscript commented on #295
Hey,
For the font kerning, I could not find a way to set a certain value for it in CSS - I think the best alternative is letter-spacing, although it is not exactly the same thing. I have used tailwind's tracking-tighter to achieve the effect. Here is the current behavior:
![image](https://user-images.githubusercontent.com/76710999/183779442-5b1eed8a-6a2d-407a-834d-21fbb96881e3.png)

Let me know if

[2022-08-09 23:37] 0-vortex commented on #295
Do you have a PR for that? Also, kerning would be set from the font weight additional options we are loading from google fonts (that would be in the vite.config.ts file)

[2022-08-10 00:19] dinnyscript commented on #295
I just created a PR for the issue. For the font kerning, I checked the vite.config.ts file although I am still unsure on how to continue. Any help would be appreciated.

[2022-08-10 04:58] bdougie commented on #295
Did you take a look at the landing-page repo. All of the above is achieved there.

[2022-08-10 11:23] dinnyscript commented on #295
It seems the landing-page repo uses a .svg file for the logo?

[2022-08-10 11:41] bdougie commented on #295
Ah that makes sense. Perhaps we do that instead, sorry for the runaround on this.

[2022-08-10 13:26] 0-vortex commented on #295
Looking at Figma font pairings, that is clearly not 16px normal weight: https://www.figma.com/file/OWzJRZoB7I2KXCppuzuq0v7E/Open-Sans-Pairings/duplicate?node-id=0%3A1

We should add `600` or `900` weight and potentially make it bigger even. At 16 pixels bold it might still be skinnier than in the OP screenshot but it should do the trick and look good in the preview! 🍕

That should fix the font, fr

[2022-08-10 16:32] bdougie opened #301 "Feature: Add submit a repo to the nav"
### Type of feature

🍕 Feature

### Current behavior

Folks are frankly not submitting repos as much as I thought. We will start introducing some features to make this more prominent on the page, but for now let's add the link to the nav menu.

## mock:
<img width="462" alt="Screen Shot 2022-08-10 at 9 15 59 AM" src="https://user-images.githubusercontent.com/5713670/183962740-196393a7-d193-43c0-91

[2022-08-10 16:51] bdougie opened #302 "Bug: Load more does not refresh the page"
### Describe the bug

![Screen Shot 2022-08-10 at 9 44 10 AM](https://user-images.githubusercontent.com/5713670/183967315-2941590f-a275-4244-b6a5-5850cf157e31.png)

Seems as if the data is not re-hydrating when clicking load more.

### Steps to reproduce

1. Open hot.opensauced.pizza
2. Scroll to the bottom
3. Click load more
4. note that the page does not add more data.

### Affected services

ho

[2022-08-10 16:58] bdougie commented on #302
I am pretty sure that this [line](https://github.com/open-sauced/hot/blob/main/src/components/PostsWrap.tsx#L46) needs a `[fetchedData](https://github.com/open-sauced/hot/blob/main/src/components/PostsWrap.tsx#L31)`. Not confident, but that is what I would try first.

[2022-08-10 21:08] dinnyscript commented on #295
Here is the title with 900 weight and tracking-tighter:
![image](https://user-images.githubusercontent.com/76710999/184020257-924482ec-5079-4df3-90dd-edf8fcfb23ac.png)

Does this look ok?

[2022-08-10 21:11] 0-vortex commented on #295
Amazing! I like it, you can also try with `text-xl` (20px) and see if that is better! 🍕 Go with your gut feeling IMHO

[2022-08-10 21:22] dinnyscript commented on #295
Got it, I will try some different text sizes and then set the PR for review. Thanks!

[2022-08-10 22:31] #295 closed

[2022-08-11 06:39] ddsuhaimi commented on #302
.take

[2022-08-11 18:55] #302 closed

[2022-08-11 20:07] NsdHSO opened #305 "Bug: Open in application you received white screen"
### Describe the bug

Sometimes https call fails and this problem not caught.
In console received this
![image](https://user-images.githubusercontent.com/37635083/184230091-08733d56-04a2-4350-a6eb-885bbf3c57c1.png)
In network tab received this
![image](https://user-images.githubusercontent.com/37635083/184230309-bdf1c43a-bb82-4425-8ae2-349b0799b061.png)

### Steps to reproduce

1. Open in App
2. S

[2022-08-11 20:17] 0-vortex commented on #305
Good catch, `.take` it I know what this is about! 🍕

[2022-08-11 20:59] #305 closed

[2022-08-11 21:00] NsdHSO opened #307 "Feature: Create a "failed to load" state for the repository cards"
### Type of feature

🎨 Style

### Current behavior

If we don't find some resources we showed this
![image](https://user-images.githubusercontent.com/37635083/184239383-94ec88c9-505c-470f-bc74-a73c83e3f7e1.png)

### Suggested solution

Just an example
![image](https://user-images.githubusercontent.com/37635083/184241047-5f65829e-0936-4766-8892-f3d66c93e41f.png)

but you can put your imagination to

[2022-08-11 21:03] 0-vortex commented on #307
If we make the "not found" error clickable, it should open an issue here saying "X repo could not be loaded" - the top 3 should normally load 😅 🍕

[2022-08-11 21:04] NsdHSO commented on #307
@pixelsbyeryc we need your wisdom

[2022-08-11 23:58] SunGoldTech commented on #297
.take

[2022-08-12 02:36] pixelsbyeryc commented on #307
@NsdHSO I would just add a ⚠️ or ℹ️  icon (not emojis, actual icons) by the side of the text  that says "X repo could not be loaded", and a link to open a new issue (that opens in a new tab), like @0-vortex suggested.

[2022-08-12 06:08] SunGoldTech commented on #297
I'm thinking about making the hero card a separate reusable component, to stay organized... @bdougie  what do u think about that?

[2022-08-12 07:23] NsdHSO commented on #297
Yes, good remarks, but you don't have this to do with this issue. See here, we get the answer after 1-2 seconds.
![image](https://user-images.githubusercontent.com/37635083/184304952-f9657365-4859-4d13-8632-cfd0d0cc1de8.png)

[2022-08-14 18:23] TAKANOME-DEV commented on #301
Hi there, can I work on this?

[2022-08-15 12:51] TAKANOME-DEV commented on #301
.take

[2022-08-15 13:55] yhoungdev commented on #286
Actually fixing it, I was having some kind burn out

[2022-08-15 13:57] yhoungdev commented on #286
I noticed that the avatar only displays on specific projects ( repositories)

[2022-08-16 15:28] yhoungdev commented on #286
Ooh got that now . Gonna raise the PR

[2022-08-16 18:49] bdougie commented on #106
@CMCSWEENE this is the code I would put at the top of the App.tsx [here](https://github.com/open-sauced/hot/blob/beta/src/App.tsx#L12).

[code]

[2022-08-16 21:16] TAKANOME-DEV commented on #301
@bdougie Can you please explain to me why do you want to move [setIsSubmissionInProcess](https://github.com/open-sauced/hot/blob/ee0af97a0f1592642f8225a80ae3ef070164a7df/src/components/RepoSubmission.tsx#L14) to context?

I did add `submit a repo` in the nav for logged in and not logged in user and everything works fine

[2022-08-16 21:17] bdougie commented on #301
If it works without, that's great. That path was my best guess for the issue.

[2022-08-16 22:30] bdougie opened #311 "Feature: useRef instead of querySelector in repoSubmission"
### Type of feature

🧑‍💻 Refactor

### Current behavior

Noticed in #310 that we are using a query selector in the RepoSubmission. We shouldn't do that.

https://github.com/open-sauced/hot/blob/beta/src/components/RepoSubmission.tsx#L64

### Suggested solution

Instead useRef works better and provides an elegant React solution.

[ref.current.focus](https://reactjs.org/docs/hooks-reference.html#use

[2022-08-16 22:41] #133 closed

[2022-08-16 22:49] bdougie opened #312 "Feature: Filters do not filter"
### Type of feature

🍕 Feature

### Current behavior

![Screen Shot 2022-08-16 at 3 43 14 PM](https://user-images.githubusercontent.com/5713670/184997868-456f525d-8abd-421b-9ba5-2656bed484e3.png)

When a user clicked on a filter, the expectation is that the results update. For the most part, nothing is really changing.

### Suggested solution

Looking into how the data works now, but my. the assum

[2022-08-16 23:00] bdougie opened #313 "Feature: Rename everything from Post to Repo"
### Type of feature

🧑‍💻 Refactor

### Current behavior

This project started as post submissions, but in reality they are all Repos!

### Suggested solution

Please rename PostWrap to RepoWrap, and etc. Keep in mind that this is a breaking change that should point to beta.

- [ ] Rename PostGrid to RepoGrid
- [ ] Rename PostWrap RepoWrap
- [ ] Rename PostList RepoList

### Additional context

_No

[2022-08-16 23:35] bdougie opened #314 "Remove tailwinds anti-pattern in PrimaryNav.tsx"
Context is on the tracking issue - https://github.com/open-sauced/hot/issues/267

This issue only needs changes to this file.

[2022-08-16 23:35] bdougie opened #315 "Remove tailwinds anti-pattern in Hero.tsx"
Context is on the tracking issue - https://github.com/open-sauced/hot/issues/267

This issue only needs changes to this file.

[2022-08-16 23:35] bdougie opened #316 "Remove tailwinds anti-pattern in ListRepositories.tsx"
Context is on the tracking issue - https://github.com/open-sauced/hot/issues/267

This issue only needs changes to this file.

[2022-08-16 23:35] bdougie opened #317 "Remove tailwinds anti-pattern in RepoSubmission.tsx"
Context is on the tracking issue - https://github.com/open-sauced/hot/issues/267

This issue only needs changes to this file.

[2022-08-16 23:35] bdougie opened #318 "Remove tailwinds anti-pattern in StackedAvatar.tsx"
Context is on the tracking issue - https://github.com/open-sauced/hot/issues/267

This issue only needs changes to this file.

[2022-08-17 03:27] fk00750 commented on #313
Hey can you assign me this issue?

[2022-08-17 06:18] ddsuhaimi commented on #313
You assign yourself actually. Read [here ](https://docs.opensauced.pizza/contributing/introduction-to-contributing/#issues) on how to do it :)

[2022-08-17 06:22] ddsuhaimi commented on #311
.take

[2022-08-17 06:29] ddsuhaimi commented on #311
@bdougie I think using [useOutsideClickRef](https://react-hooks.org/docs/useOutsideClickRef) from 'rooks' could be a better solution. Let me know what you think :)

[2022-08-17 08:58] 0-vortex commented on #311
I second this! 💯

[2022-08-18 15:46] bdougie commented on #313
As @ddsuhaimi mentioned, Please review the [CONTIBUTING.md](https://github.com/open-sauced/.github/blob/HEAD/CONTRIBUTING.md) for info on how to assign yourself to the issue.

[2022-08-18 16:24] fk00750 commented on #313
.take

[2022-08-23 22:10] erinmikailstaples commented on #106
.take

[2022-08-23 22:47] erinmikailstaples commented on #106
**Workflow**

Set up:
- Forked repo, [cloned it here.](https://github.com/erinmikailstaples/hot-add-version-number-console)

**Task 1: Include [fetch version lib](https://github.com/open-sauced/open-sauced/blob/main/src/lib/appVersion.js) similar to open sauced.**

- Added new file under lib > `appVersion.js` and copied over the version page

![Image](https://user-images.githubusercontent.com/5403

[2022-08-24 01:02] #301 closed

[2022-08-24 01:02] #311 closed

[2022-08-26 11:53] mrded opened #323 "Feature: ensure added/modified files have tests"
### Type of feature

🔁 CI

### Current behavior

Contributes are allowed to propose changes without test files

### Suggested solution

I think we should insist on having test files for every file changed or created

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X] I agree to follow this project's Contr

[2022-08-26 11:56] mrded commented on #323
.take

[2022-08-26 16:40] willtheorangeguy opened #325 "Bug: README uses Markdown within HTML"
### Describe the bug

On the copy line of the README, there is Markdown used inside HTML for the link. This does not render correctly.

It should be either all HTML or all Markdown.

### Steps to reproduce

View the `README.md` document.

### Affected services

hot.opensauced.pizza

### Platforms

Desktop, Mobile, Tablet

### Browsers

Chrome, Firefox, Safari, Edge, Opera

### Environment

Product

[2022-08-26 17:41] bdougie commented on #325
Thanks for the issue, but will have to disagree. Please present more evidence when opening issues.

[2022-08-26 17:41] #325 closed

[2022-08-26 17:48] willtheorangeguy commented on #325
Maybe it is just a problem with how my computer renders Markdown, but this is what the README looks like on my computer:
![image](https://user-images.githubusercontent.com/18339050/186962815-4279ca9c-f1a7-4dae-af7c-7d3588d1efcf.png)

[2022-08-29 05:56] NsdHSO commented on #317
.take

[2022-08-29 10:43] NsdHSO commented on #317
I have some question about this ticket, What I have to do because we have some custom padding,margin. Like `15px`, `300px`, `5px`... We can use mb-[0.313rem], p-[0.938] ?  OR we can add custom properties in `tailwind.config.cjs`?

[2022-08-29 21:05] mrded commented on #323
I made a GH Action to check existence of tests. Shall we try it on open-sauced repos?

https://github.com/mrded/gh-tests-existence-check

cc @0-vortex @bdougie

[2022-08-30 21:38] #318 closed

[2022-08-30 22:23] #289 closed

[2022-08-30 22:29] bdougie commented on #286
Checking in to see where this is at @yhoungdev

[2022-08-30 22:39] bdougie commented on #257
Discovered more broken use cases with voting via the new API - https://beta.api.opensauced.pizza/docs#/Vote%20service/voteOneById

[2022-08-30 22:42] yhoungdev commented on #286
Very possible

[2022-08-31 00:12] blackgirlbytes commented on #286
@yhoungdev Something like this could work. This is in the StackedAvatar.tsx. If you see a more optimal way to do this, feel free! But this is what I was able to do in like 5 mins. You can play around with the width thickness etc.

<img width="995" alt="Screen Shot 2022-08-30 at 8 10 37 PM" src="https://user-images.githubusercontent.com/22990146/187565176-d64e94eb-20d4-493d-9ae4-4500418ec7ca.png">

[2022-08-31 07:56] yhoungdev commented on #286
goona do that Now

[2022-09-06 16:59] TAKANOME-DEV commented on #314
.take

[2022-09-06 19:27] kelvinsekx commented on #317
Replacing the pixel values with rem/em is still an anti-pattern.
m-[16px] or m-[0.23em] are both anti-patterns.

[2022-09-06 21:17] AlexVCS commented on #315
.take

[2022-09-08 21:31] #314 closed

[2022-09-08 22:10] #286 closed

[2022-09-08 22:38] #106 closed

[2022-09-09 20:56] bdougie opened #333 "Feature: Replace the removed contributor avatars"
### Type of feature

🍕 Feature

### Current behavior

During work on https://github.com/open-sauced/hot/pull/321 I had to remove the contributor avatars while that data s being added to the API. When it is available, we can added them back.

![Screen Shot 2022-10-04 at 10 33 28 AM](https://user-images.githubusercontent.com/5713670/193887513-14ee8827-86ab-4a2a-8b62-0df81062653b.png)

### Suggested

[2022-09-09 20:57] bdougie opened #334 "Feature: Add myvotes filter - alpha branch"
### Type of feature

🍕 Feature

### Current behavior

During work on https://github.com/open-sauced/hot/pull/321 I had to remove the the myVotes filter while that data s being added to the API. When it is available, we can added them back.

### Suggested solution

Add the "votesRelation" from the future API.

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this

[2022-09-09 23:12] bdougie opened #335 "Feature: add cache provider to SWR"
### Type of feature

🍕 Feature

### Current behavior

SWR was introduced into the project when the hot repo recommendations were added. reference https://github.com/open-sauced/hot/pull/296

Now PR https://github.com/open-sauced/hot/pull/321 introduces more API management, but caching could be improved with a localstorage provider.

### Suggested solution

The [docs](https://swr.vercel.app/docs/ad

[2022-09-13 15:21] shamimbinnur opened #338 "Bug: Unwanted space in the hero section."
### Describe the bug

On the left corner of the hero section, there are some spaces that were not supposed to be there.

![Screenshot 2022-09-13 at 9 08 17 PM](https://user-images.githubusercontent.com/48399373/189941035-8e1a999a-1324-4f8e-8181-350e0be4f2d3.png)
![Screenshot 2022-09-13 at 9 08 43 PM](https://user-images.githubusercontent.com/48399373/189941131-30ea9070-6cbb-403a-b3c9-a6bfcac7b239.

[2022-09-13 17:53] 0-vortex commented on #338
duplicate of #227 🍕

[2022-09-13 18:03] #317 closed

[2022-09-13 18:03] shamimbinnur commented on #338
Oh, I see! So for that :((

[2022-09-13 19:16] NsdHSO commented on #316
.take

[2022-09-13 20:32] 0-vortex commented on #338
No worries, closing this for now, feel free to pick it up if you like! :D

[2022-09-13 20:32] #338 closed

[2022-09-19 20:49] benmarg opened #339 "Bug: Cmd + K/Ctrl + K for docs don't work on right side of keyboard"
### Describe the bug

Currently the Hero component only watches for Cmd + K / Ctrl + K from the left side Cmd/Ctrl keys. If you try and do CmdRight + K, nothing will happen

### Steps to reproduce

1. Go to hot.opensauced.pizza
2. Press CmdRight + K or CtrlRight + K
3. Nothing happens

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Produ

[2022-09-20 21:18] bdougie opened #342 "refactor: It wouldn't be clean to create a function to pass these parameters and apply DRY"
Apply DRY function to the search commands https://github.com/open-sauced/hot/blob/ec60aeb7be5ccc2451fef639731045119115fa1a/src/components/Hero.tsx#L36-L42

[code]

[2022-09-22 16:04] ddsuhaimi commented on #342
.take

[2022-09-22 16:23] ddsuhaimi commented on #342
oh actually i am not sure how to update someone's open pr #341. Normally i change the code that is already merged in main

[2022-09-22 16:26] #339 closed

[2022-09-22 16:26] 0-vortex commented on #342
Forgot to merge, did it now tho :D

[2022-09-26 23:33] bdougie opened #345 "Replace Footer"
Related to this issue https://github.com/open-sauced/landing-page/issues/47

[2022-09-27 21:01] #316 closed

[2022-09-27 21:35] #342 closed

[2022-09-28 18:43] #345 closed

[2022-09-29 11:47] NsdHSO commented on #307
.take

[2022-09-29 15:30] bdougie commented on #313
I completed this on my branch #336. Hoping someone can complete this on beta before that PR lands.

[2022-10-03 16:37] teachjenntech commented on #315
.take

[2022-10-03 17:19] teachjenntech opened #350 "Bug: Node v 18.10.0 not supported"
### Describe the bug

When trying to clone /hot and create branch on windows machine, downloaded Node v 18.10.0 and received error:

[code]

### Steps to reproduce

Watch VOD of stream

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this pr

[2022-10-03 21:59] 0-vortex commented on #350
good catch, should update this to be 18! 🍕 😅

[2022-10-03 22:52] AlexVCS commented on #315
My apologies @bdougie! I've changed the code to use Tailwind's default spacing scale instead of hardcoding rem values.

[2022-10-04 05:30] #315 closed

[2022-10-04 05:48] bdougie commented on #110
The staff bar exist in the app.opensauced.pizza

https://github.com/open-sauced/open-sauced/blob/main/src/components/AdminStatsBar.jsx

The first step should be listing the user count in a bar that only appears to members of the organization.

[2022-10-04 05:53] bdougie opened #351 "Tracking issue: Make submissions work"
- [x] #352
- [ ] #353
- [ ] #354
- [x] https://github.com/open-sauced/hot/issues/208
- [x] https://github.com/open-sauced/hot/issues/334
- [x] https://github.com/open-sauced/hot/issues/198
- [x] #355

[2022-10-04 05:55] bdougie commented on #351
Per our conversation, @janie-lee-developer & @Deadreyo opened this tracking issue to identify some UI work needed. I will open similar issues in the https://github.com/open-sauced/api.opensauced.pizza repo.

Contributors, all work in this list can be worked on simultaneously. Open all PRs to the Beta branch unless recommended otherwise in the issues.

Please review the [CONTIBUTING.md](https://git

[2022-10-04 05:56] bdougie opened #352 "Connect the Submit a Repository button to the API (POST)"
## What is needed?
The submit button in the dropdown sends a link to the discord when submitted. We need also to connect it to the submit service in the API. This will require a new [hook](https://github.com/open-sauced/hot/tree/alpha/src/hooks) (API hooks only exist on the alpha branch at the moment) called **useRepoSubmit**.

<img width="295" alt="Screen Shot 2022-10-03 at 11 00 16 PM" src="http

[2022-10-04 05:56] bdougie opened #353 "Create logic to check if a user has submitted the repository (GET)"
## What is this?

When submitting a repo to the app, we will need to check if the user has submitted it. This will be needed to identify the most popular users submitting repositories.

## What is needed

A hook is needed to fetch https://api.opensauced.pizza/#/Submit%20service/findAllUserSubmitted

At the time of creating this issue, API hooks only exist on the alpha branch. Check here for a refe

[2022-10-04 06:05] bdougie opened #354 "Create logic to vote on Submission"
## What is needed?

In the same function connected to #352, leverage the [useVotedRepos](https://github.com/open-sauced/hot/blob/alpha/src/hooks/useVotedRepos.ts). This work will need previous issues to be completed first.

[2022-10-04 06:08] bdougie opened #355 "Connect stars to API star service in the API"
## What is this?

Multiple places display stars. I am looking to empower users to stars repos from the hot UI.

<img width="405" alt="Screen Shot 2022-10-03 at 11 08 27 PM" src="https://user-images.githubusercontent.com/5713670/193747087-3552f4a4-2f16-4b16-acde-089b699ef8bc.png">
<img width="551" alt="Screen Shot 2022-10-03 at 11 11 36 PM" src="https://user-images.githubusercontent.com/5713670/193

[2022-10-04 19:00] #313 closed

[2022-10-04 21:38] bdougie commented on #297
Closing this for now. however, we do need a skeleton for RepoWrap instead. I will open that issue.

[2022-10-04 21:38] #297 closed

[2022-10-04 21:57] bdougie opened #357 "Feature: Loading Skeleton needed for the RepoWrap component."
### Type of feature

🍕 Feature

### Current behavior

While data is being fetched from the API, the footer is shown and looks awkward.

![Screen Shot 2022-10-04 at 2 52 04 PM](https://user-images.githubusercontent.com/5713670/193937160-a04673da-007f-49dd-a245-2a57f9ea2125.png)

note the footer is showing without scrolling. A skeleton will push this down.

![Screen Shot 2022-10-04 at 2 49 52 PM](ht

[2022-10-04 22:03] TAKANOME-DEV commented on #357
.take

[2022-10-04 22:09] bdougie opened #358 "Feature: User should star the repo without leaving the page."
### Type of feature

🍕 Feature

### Current behavior

When I click this star button, it takes me to github. I would like the app to know if I starred the repo or not and also be able to start from the page.

![Screen Shot 2022-10-04 at 3 08 45 PM](https://user-images.githubusercontent.com/5713670/193939230-d02aa4fa-fa2c-4662-b0d1-81ca3161260b.png)

### Suggested solution

Connected this component

[2022-10-05 00:34] #335 closed

[2022-10-05 20:29] bdougie opened #362 "Feature: New favicon"
### Type of feature

🍕 Feature

### Current behavior

We have new brand assets and we will need to update the favicon to the below link.

https://github.com/open-sauced/assets/blob/main/Logos%20/slice-Black-Orange.png

![image](https://user-images.githubusercontent.com/5713670/194157454-73dc2ec0-1502-4fa2-b931-93172f190e7f.png)
### Suggested solution

The logo will need to be downloaded and rename

[2022-10-06 02:29] teachjenntech commented on #362
.take

[2022-10-06 03:41] #362 closed

[2022-10-06 14:26] bdougie opened #364 "Feature: generate jwt for dev purposes"
### Type of feature

🍕 Feature

### Current behavior

When testing the API, you need to console.log locally. What is we generate a token on demand for logged in users?

bonus:
We could also lock it down to only appear for open-sauced org members.

### Suggested solution

## Step one - add a link to print JWT in the console.

<img width="326" alt="Screen Shot 2022-10-06 at 7 22 00 AM" src="https://

[2022-10-06 14:42] Deadreyo opened #365 "Bug: hot repo's development server is broken."
[Edited: Added some more info in context]

### Describe the bug

Running `npm start` will open a white blank page.

### Steps to reproduce

Install the repo and run `npm start`

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Firefox

### Environment

Development
Alpha

### Additional context
~It's a white page in all browsers. However, in Firefox, this is what i

[2022-10-06 14:47] janie-lee-developer opened #366 "Bug: Users need to be added to database when they primarily sign up on Opensauced Pizza or hot.opensauced.pizza"
### Describe the bug

##Issue
1. Users are not being added to the user table in Supabase
2. User, janie-lee-developer is not in the table in Supabase (See below image).
3. We need to triage why.

![](https://cdn.discordapp.com/attachments/1026915987049685043/1027582643312808026/Screen_Shot_2022-10-06_at_7.06.18_AM.png)

s - you are trying to add the submit service
c - your user can't submit or vot

[2022-10-06 16:40] 0-vortex commented on #366
The frontend code has to make a call to the auth/session handler described here: https://github.com/open-sauced/api.opensauced.pizza/blob/1818871e0bea2b8e151c713e8d41bb24c932c87a/src/auth/auth.controller.ts#L14-L57

That is the part that is handling the users table backfill! 👍

[2022-10-06 21:00] 0-vortex commented on #365
Think I am the only one available to `.take` this on! 🍕

[2022-10-06 22:14] Deadreyo commented on #365
Updated the context of the issue.

[2022-10-06 22:40] 0-vortex commented on #365
One at a time, `beta` is still bugged for me:

<img width="760" alt="Screenshot 2022-10-07 at 00 39 36" src="https://user-images.githubusercontent.com/237133/194431523-5daccd33-fe3c-4bbf-8924-96c03d14b2a6.png">

[2022-10-07 20:09] bdougie commented on #362
should of been https://github.com/open-sauced/assets/blob/main/logos/slice-Black-Orange.png?raw=true

[2022-10-07 20:11] bdougie opened #368 "feat: favicon should svg."
should of been https://github.com/open-sauced/assets/blob/main/logos/slice-Black-Orange.png?raw=true

_Originally posted by @bdougie in https://github.com/open-sauced/hot/issues/362#issuecomment-1272048888_

[2022-10-07 20:14] teachjenntech commented on #368
.take

[2022-10-07 21:00] #368 closed

[2022-10-08 19:26] peckjon opened #370 "Bug: markdown emoji do not render in summary lists"
### Describe the bug

Raw markdown being shown in project previews instead of emoji

![F4D5EC48-C4A0-42A2-A83E-676F9F252321](https://user-images.githubusercontent.com/5299412/194724180-6931bff7-f20d-46aa-b5a9-033f0b8fa2bb.png)

### Steps to reproduce

1. Go to hot.opensauced.pizza
2. Scroll to ossu/computer-science or another project with markdown emoji in the title
3. See raw markdown `:mortar_bo

[2022-10-09 19:57] #365 closed

[2022-10-09 20:05] 0-vortex commented on #350
Actually realised now it's because we are using https://squoosh.app to optimize images in development, the CLI hasn't been updated past node 16 yet 😅

[2022-10-09 20:08] 0-vortex opened #372 "Bug: deploy previews don't point to `dev` channel"
### Describe the bug

deploy previews are using the production API while having the development JWT tokens

### Steps to reproduce

try signing in on deploy previews and using the token to fetch votes and recommendations

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

### Environment

_No response_

### Additional context

_No response_

###

[2022-10-10 17:06] #364 closed

[2022-10-12 00:55] #267 closed

[2022-10-18 20:01] bdougie commented on #333
Contributions are available from this endpoint
[code]

[2022-10-18 21:11] bdougie opened #376 "Feature: Set Recent as the default repo filter"
### Type of feature

🍕 Feature

### Current behavior

when viewing the repos on the page, the default filter is popular (stars).

### Suggested solution

Switch this to be recent as the first change. In the future, I would like to see this grouped date (i.e. today, yester, Friday, etc).

https://github.com/open-sauced/hot/issues/198

### Additional context

_No response_

### Code of Conduct

- [X

[2022-10-19 20:37] Deadreyo commented on #333
in beta, contributors are retrieved from the repo data object

``` const { id, full_name, name, description, issues, stars, contributions } = repo!;```

Shouldn't I do that in alpha as well instead of calling the api endpoint?

[2022-10-19 20:59] bdougie opened #380 "Feature: leverage the API for filters"
### Type of feature

🍕 Feature

### Current behavior

This was implemented in the alpha branch prior but got deleted in a merge conflict fix. It will need to be reimplemented.

https://github.com/open-sauced/hot/commit/a471317a6bedd932a35666c374abf000c98c4f23

### Suggested solution

Copy and paste the changes as is:

1. Create the src/hooks/useRepositoriesList.ts
2. Include new types src/vite-typ

[2022-10-19 21:01] bdougie commented on #333
We are actively trying to move away from that. Also between the time, I assigned this and now, my changes on alpha have been overwritten. What you are looking at is us leveraging the Supabase SDK, which is limited.

## the new task
Instead of working on this, could re-do the changes linked in this issue first. https://github.com/open-sauced/hot/issues/380

Forget about working on alpha for now. In

[2022-10-19 21:24] bdougie commented on #380
Here is a twitch clip of the filter working

https://clips.twitch.tv/GentleSuccessfulGalagoMau5-CD_abMjk45zxxlXk

[2022-10-19 23:24] bdougie commented on #380
With the merge of this PR https://github.com/open-sauced/hot/pull/381, we can focus this issue to make `recent` the default and in this order (pictured).

![Screen Shot 2022-10-19 at 4 23 11 PM](https://user-images.githubusercontent.com/5713670/196822716-6af78187-9f2f-47c4-9e78-d406b7a081db.png)

This work should be done on beta and not alpha after this is merged https://github.com/open-sauced/hot

[2022-10-19 23:48] #312 closed

[2022-10-20 00:20] #376 closed

[2022-10-20 00:20] #380 closed

[2022-10-20 15:53] #357 closed

[2022-10-20 20:24] Deadreyo commented on #333
@bdougie
in Hero.tsx, repositories are fetched and cards are dynamically created for it, all in the same files. This makes it very hard to dynamically get the contributors data from the api, since it will need an array of dynamic `useSWR` hooks, or even an array of `fetch` requests then storing the results and mapping them to their correct objects.

So I have 2 ways in mind:
1- Using the `contribu

[2022-10-21 05:39] TAKANOME-DEV commented on #355
I will `.take` this one and if I implement the `useStarRepos` hook, it will be easier, I think, to make https://github.com/open-sauced/hot/issues/358 work :v:

[2022-10-21 10:39] ikezuby2012 commented on #353
.take

[2022-10-21 19:50] TAKANOME-DEV commented on #355
@0-vortex we don't have the loading skeleton #374 because of the latest changes made, I would like to suggest passing down `isLoading` to `ListRepositories.tsx` instead of not rendering it until `isLoading` is false (footer still shows up)

Want to hear your thoughts on that :raised_hands:

[2022-10-22 16:49] bdougie commented on #198
With the list now being filter by "recent," we can group it by "created_at" which is the submission date (not the repo creation date).

[2022-10-22 19:44] #333 closed

[2022-10-24 19:39] janie-lee-developer opened #385 "Bug: Production site's repository list section, upvoting is not working."
### Describe the bug

At production branch, popular repositories section's upvote is not working. We find 406 error on the console when we try to upvote at the popular repositories section. This error is found while reviewing #384  PR.
@bdougie  @0-vortex

<img width="1423" alt="Screen Shot 2022-10-24 at 3 18 39 PM" src="https://user-images.githubusercontent.com/58411107/197610174-3695a88d-d90c-42

[2022-10-24 20:00] bdougie commented on #385
@0-vortex, I am getting a 406 when voting on the deploy preview. @Deadreyo can vote via localhost on his branch. Filtering works on #384, so I will provide my approval for that, but perhaps we should move towards using the API for voting altogether.

[2022-10-24 20:28] 0-vortex commented on #385
That's #372 at work, mainly because I had to change all org envs to the new system: https://docs.netlify.com/netlify-labs/experimental-features/environment-variables/

Currently, env reflects this (left is hot, right is api link):
- [x] localhost -> dev.api
- [x] beta -> dev.api
- [x] production -> prod.api
- [ ] preview -> prod.api

Deploy preview still needs fixing :<

[2022-10-25 15:48] ikezuby2012 commented on #353
so if a user has submitted the repo should it end the logic or increase the submission count

[2022-10-25 16:18] ikezuby2012 commented on #353
Yes, i observed the API handles the submission count, my issue is writing the submission count logic, is it still necessary?

[2022-10-25 18:33] 0-vortex commented on #353
No, this issue is about fetching user submissions, not submitting new repos from the UI, that is issue #352

[2022-10-25 22:18] 0-vortex commented on #198
This will be truly possible with filters, we can make a synthetic view going back in time every 7 days, or last 7 days = This week, between 7 and 31 days = This month, or similar gradual increase, until we can specifically say "where created_at is less than the last 7 days"! 🍕

[2022-10-25 22:56] #307 closed

[2022-10-25 22:56] #334 closed

[2022-10-26 10:01] ikezuby2012 commented on #353
ok, thank you

[2022-10-28 21:44] bdougie opened #388 "fix: Limit for useRepositories is hard coded and not flexible when paginating."
this is not taking a page argument, just increasing the limit. this makes it such a way that we cannot ever list more than 1000 repos while also, pulling more and more data from the backend; that is such an incremental way of pulling new data that I think it's worth pushing this beta back until everything is ready, since this is a quick fix and there are other inconsistencies 😓

_Originally posted

[2022-10-28 22:06] bdougie commented on #352
@janie-lee-developer any update on this issue?

[2022-10-29 04:52] SunGoldTech commented on #207
.take

[2022-10-29 06:57] SunGoldTech opened #391 "Bug: Star us on github button opens profile dropdown instead of redirecting to `hot` repo"
### Describe the bug

the `Star un on GitHub` button is currently triggering the menu dropdown for the user profile at the top right corner of the `PrimaryNav` component.

### Steps to reproduce

here is a video on steps to reproduce

https://www.loom.com/share/8b03f9b3a14144df8dc6074c5bbb64f2

### Affected services

hot.opensauced.pizza

### Platforms

_No response_

### Browsers

_No response_

[2022-10-29 13:13] ikezuby2012 commented on #391
.take

[2022-11-01 18:35] #391 closed

[2022-11-07 18:57] #198 closed

[2022-11-07 19:07] bdougie opened #395 "Feature: Add end to end testing framework"
### Type of feature

✅ Test

### Current behavior

There are currently zero end to end test in this app and they are needed to start capturing some of the issues in the app.

### Suggested solution

Can we explore the following and make a decision on the best framework moving forward?

- https://www.cypress.io/
- https://playwright.dev/
- or combination of both

Example tests to ship.
- As a user,

[2022-11-07 23:12] mtfoley commented on #395
I’d give playwright a +1 for what that’s worth. I’ve done some stuff with it in my day job and I like it so far. Also I think the newer versions might have some good stuff with respect to being better with react apps (getting “testing library” style locators). https://playwright.dev/docs/release-notes#version-127

[2022-11-14 02:35] bdougie opened #399 "Feature: Sort latest repos by upvoted"
### Type of feature

🍕 Feature

### Current behavior

Latest repos are sorted by date, but they need to also be sorted by votes.

<img width="1332" alt="Screen Shot 2022-11-13 at 6 20 16 PM" src="https://user-images.githubusercontent.com/5713670/201561889-3449f23f-9e19-4e29-baf9-ce6d554f3a84.png">

### Suggested solution

After sorting by created_at - https://github.com/open-sauced/hot/blob/7ae4f4

[2022-11-14 18:13] #395 closed

[2022-11-15 13:45] ikezuby2012 commented on #399
.take

[2022-11-26 14:42] KarthikRaju391 commented on #399
Hey @bdougie, I would love to work on this feature!

[2022-11-29 14:43] bdougie opened #403 "Feature: End to end testing tracking issue"
### Type of feature

✅ Test

### Current behavior

While chatting with @JoshuaKGoldberg yesterday and discussing an approach for end-to-end testing of this app. I will use this as a tracking issue for setting up end to end testing with Cypress, now that testing works, sort of - https://github.com/open-sauced/hot/pull/400.

### Suggested solution

**Feature Testing plan**

So far, we are testing lo

[2022-11-29 14:47] bdougie opened #404 "Feature: Submission data caching"
### Type of feature

🍕 Feature

### Current behavior

When submitting a repo it does not show in the recent list right away. We need to add a short term local storage submission caching while a long term cache is saved to the API.

As a user, when I submit a repo using the form, I should see my submission get added to the recent list for today. If the repo already exist, I should give it an upvote

[2022-11-29 14:53] bdougie opened #405 "Feature: Hot repositories needs to be dynamically updated"
### Type of feature

🍕 Feature

### Current behavior

The hot repositories are hard coded and need to be dynamic.

![Screen Shot 2022-11-29 at 3 10 57 PM](https://user-images.githubusercontent.com/5713670/204960169-298102c6-fccd-400e-8f83-94e246d354e3.png)

### Suggested solution

Implement a solution for finding the repos with the most votes each week. Votes will need to be filtered by week and c

[2022-11-29 23:12] bdougie opened #407 "Feature: Myvotes has no pagination"
### Type of feature

🐛 Fix

### Current behavior

![Screen Shot 2022-11-29 at 3 10 57 PM](https://user-images.githubusercontent.com/5713670/204919392-95e78e67-4d3a-4723-9da7-407f4405e094.png)

### Suggested solution

Add pagination similar to the other filtered pages.

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributi

[2022-11-30 00:25] bdougie opened #409 "Bug: Discord is no longer receiving messages from repo submission."
### Describe the bug

This is the original implementation - https://github.com/open-sauced/hot/pull/212

There was an update to Discord that broke the auth to send messages.

### Steps to reproduce

Navigate to hot.opensauced.pizza and submit a repo.

![Screen Shot 2022-11-29 at 4 25 12 PM](https://user-images.githubusercontent.com/5713670/204677823-f7a00978-b692-42e6-9a91-462c432d5f75.png)

### A

[2022-11-30 05:33] bdougie opened #411 "e2e testing: repo submissions"
Implement Cypress integration testing that supports the repo submission.

note: https://github.com/open-sauced/hot/pull/408 related

Accessibility should also be tested.

[2022-11-30 05:33] bdougie opened #412 "e2e testing: filtering repos"
Filtering repos should test that the results are updated. Open to suggestions and questions.

<img width="1416" alt="Screen Shot 2022-11-29 at 9 34 46 PM" src="https://user-images.githubusercontent.com/5713670/204715924-c90498d7-6afa-42c1-ae67-60abcbdf9276.png">

Accessibility should also be tested.

[2022-11-30 05:33] bdougie opened #413 "e2e testing: paginations of repos"
Pagination context is the "load more" button. The button should appear when there are more repos to show.

<img width="235" alt="Screen Shot 2022-11-29 at 9 35 47 PM" src="https://user-images.githubusercontent.com/5713670/204716063-12a31ea2-75c7-4b30-bcac-63df33f11cc2.png">

Accessibility should also be tested.

[2022-11-30 05:33] bdougie opened #414 "e2e testing: searching Repos"
Accessibility should be tested. Also, some simple functionality.

<img width="1044" alt="Screen Shot 2022-11-29 at 9 36 11 PM" src="https://user-images.githubusercontent.com/5713670/204716154-69207da3-a154-4d2c-b23d-da1a6a8a67bb.png">

[2022-11-30 08:00] NsdHSO opened #415 "Feature: submit new repo with shortcut"
### Type of feature

🍕 Feature

### Current behavior

If you want to submit a new repository for suggestions, you can't use shortcuts like cmd+enter/enter or escape to close the popup window

### Suggested solution

Here is an example
https://github.com/open-sauced/hot/blob/ecebb1ef0e85d46fb2fa67424081ae9250ff991e/src/components/Hero.tsx#L17-L44

### Additional context

_No response_

### Code of

[2022-11-30 08:17] NsdHSO opened #416 "bug: downvoting a repo in myVotes list does not remove it from ui"
### Describe the bug

If you are in MyVotes section and you press on the upvote/voted
list from My voted Repository

### Steps to reproduce

1. Go to the hot app
2. MyVotes section
3. Press upvote/voted
4. look in My voted Repository it still remains behind

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Production

### Additional contex

[2022-11-30 08:21] NsdHSO opened #417 "Bug: Footer not stay at the bottom"
### Describe the bug

![Screenshot 2022-11-30 at 10 18 07](https://user-images.githubusercontent.com/37635083/204744085-e44de284-3127-4b8a-86e2-338dc42c6794.png)

### Steps to reproduce

1. Open in the hot app

### Affected services

hot.opensauced.pizza

### Platforms

Desktop

### Browsers

Chrome

### Environment

Production

### Additional context

_No response_

### Code of Conduct

- [X] I a

[2022-11-30 08:26] NsdHSO opened #418 "Feature: Search pop-up don't close If I shot Escape"
### Type of feature

🍕 Feature

### Current behavior

![image](https://user-images.githubusercontent.com/37635083/204744557-ce4f05ba-7a05-450a-9ea3-acf7bd733620.png)

### Suggested solution

I was expecting the pop-up to close when I pressed escape

#415

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Contributing Docs

- [X]

[2022-11-30 08:48] TAKANOME-DEV commented on #415
I saw that we have `headlessui/react`. I think it can handle that (accessibility included) and even for the `hero search` we can use [headlessui combobox](https://headlessui.com/react/combobox)

[2022-11-30 08:52] TAKANOME-DEV commented on #418
As commented on https://github.com/open-sauced/hot/issues/415#issuecomment-1331821017 using [headlessui combobox](https://headlessui.com/react/combobox) will fix that

[2022-11-30 09:03] 0-vortex commented on #403
Currently using puppeteer but the action implementation has been lagging, tho I don't mind switching to cypress! 🍕

[2022-11-30 10:31] NsdHSO commented on #415
For the moment in this component we don't use [headlessui combobox](https://headlessui.com/react/combobox) we use native input. I think if you want can you open a new issue, to see what the other colleagues say

[2022-11-30 11:57] 0-vortex commented on #405
The screenshot is not working :D

[2022-11-30 13:52] 0-vortex commented on #416
Do you mean after up or down voting, the repository remains in the list of voted repos?
If so, you could adjust the title to something more relevant like "bug: downvoting a repo in myVotes list does not remove it from ui" 🍕

[2022-11-30 13:57] 0-vortex commented on #415
We do, we can also leverage [radix components](https://www.radix-ui.com/docs/primitives/overview/introduction)

It does not make sense to complicate the current solution with keyboard accessibility when the baseline itself is not very accessible. I would agree the keyboard shortcut would be nice to have on top of an already accessible dropdown menu that displays some more information while typing

[2022-11-30 16:32] NsdHSO commented on #416
yes, this is the issue, Tnx for your help.

[2022-11-30 16:47] TAKANOME-DEV commented on #415
Oh, didn't know about [radix](https://www.radix-ui.com/docs/primitives/overview/introduction), it looks great :100:

Yeah using [radix react dropdown](https://www.npmjs.com/package/@radix-ui/react-dropdown-menu) will fix this issue :pizza:

[2022-11-30 17:32] bdougie commented on #416
Not quite. This still needs more info and an attempt at a suggested solution. My guess is that the votes hooks need to refetch the votes when the button is clicked.

https://github.com/open-sauced/hot/blob/2d5bb0d9f694ea630030c56bc6c2985cf231e9b3/src/hooks/useVotedRepos.ts#L23